In [6]:
# import pandas library

import pandas as pd

In [7]:
# read in relevant files

df_score = pd.read_csv("score_analysis_new.csv")
df_score = df_score.drop(columns = "Unnamed: 0")

In [8]:
df_score.head()

,LSOA_Code,LSOA_Name,LADcode,Local_authority_name,pop_2001,pop_2011,Median_House_Prices_2001,Median_House_Prices_2011,All_cat_qual_2001,Level_4_qualifications_and_above_2001,...,Median_income_2001,Median_income_2011,Score_2001,Score_2011,Rank_2001,Rank_2011,Rank_chg,Z_score,score_chg,status
0,E01000001,CityofLondon001A,E09000001,City of London,1465,1484,497000,819375,1350,1047,...,65520,83221,2.354388,3.897793,86.0,199.0,-113.0,-0.258531,1.543405,STB
1,E01000002,CityofLondon001B,E09000001,City of London,1436,1382,528750,814000,1293,1024,...,66300,99928,2.479326,4.587567,81.0,111.0,-30.0,-0.068637,2.108242,STB
2,E01000003,CityofLondon001C,E09000001,City of London,1346,1617,335000,574688,1242,706,...,54140,63251,0.634527,2.001385,573.0,806.0,-233.0,-0.533078,1.366858,STB
3,E01000005,CityofLondon001E,E09000001,City of London,985,1098,300000,300000,821,283,...,46740,48695,-0.537932,-0.258055,1701.0,3338.0,-1637.0,-3.745272,0.279877,DEC
4,E01000006,BarkingandDagenham016A,E09000002,Barking and Dagenham,1703,1838,232500,408125,1309,431,...,38200,40066,-1.117856,-0.633403,2731.0,4012.0,-1281.0,-2.930784,0.484453,DEC

In [9]:
# verify the breakdown of neighbourhood states

df_score.groupby("status").size()

status
ASC     837
DEC     692
STB    3306
dtype: int64

In [10]:
# extract only ascending LSOAs

ascending_LSOA = df_score[df_score["status"] == "ASC"]

In [11]:
# check extracted dataframe

ascending_LSOA

,LSOA_Code,LSOA_Name,LADcode,Local_authority_name,pop_2001,pop_2011,Median_House_Prices_2001,Median_House_Prices_2011,All_cat_qual_2001,Level_4_qualifications_and_above_2001,...,Median_income_2001,Median_income_2011,Score_2001,Score_2011,Rank_2001,Rank_2011,Rank_chg,Z_score,score_chg,status
34,E01000037,BarkingandDagenham003B,E09000002,Barking and Dagenham,1688,1696,195000,422063,1424,264,...,40510,54274,-1.462845,-0.114304,3583.0,3094.0,489.0,1.118777,1.348541,ASC
117,E01000121,Barnet010C,E09000003,Barnet,1497,1476,200000,536063,1116,244,...,32850,41945,-1.656521,-0.269743,4079.0,3368.0,711.0,1.626688,1.386778,ASC
122,E01000126,Barnet026A,E09000003,Barnet,2162,2265,199950,438125,1544,439,...,28270,38285,-1.728011,-0.483022,4248.0,3746.0,502.0,1.148520,1.244990,ASC
131,E01000135,Barnet038A,E09000003,Barnet,1564,1706,435000,1172531,1293,644,...,44720,57377,0.238526,2.644451,841.0,505.0,336.0,0.768730,2.405925,ASC
136,E01000140,Barnet041C,E09000003,Barnet,1631,1959,340500,738750,1399,664,...,36780,52565,-0.493346,1.460109,1635.0,1173.0,462.0,1.057004,1.953454,ASC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4809,E01033711,Hackney027I,E09000012,Hackney,1105,1919,339498,806250,1034,600,...,40000,60309,-0.088983,2.346314,1168.0,628.0,540.0,1.235459,2.435297,ASC
4810,E01033712,Hackney023G,E09000012,Hackney,1578,1545,290000,791250,1283,692,...,37160,50437,-0.571824,1.462761,1757.0,1170.0,587.0,1.342990,2.034585,ASC
4811,E01033713,Hackney010G,E09000012,Hackney,1346,1324,250000,609569,1095,528,...,35690,51931,-0.793449,1.295197,2102.0,1299.0,803.0,1.837174,2.088647,ASC
4824,E01033736,Greenwich004H,E09000011,Greenwich,1125,2257,250000,556375,1008,656,...,42640,78361,0.282141,2.746190,809.0,475.0,334.0,0.764154,2.464049,ASC
4825,E01033737,Greenwich004I,E09000011,Greenwich,1495,1934,180000,498875,1103,285,...,30140,37933,-1.750265,-0.159298,4302.0,3174.0,1128.0,2.580737,1.590967,ASC

In [12]:
# checkpoint - output file
ascending_LSOA.to_csv("ascending_LSOA.csv")

In [12]:
# checkpoint - uncomment next line to start from this line onwards
ascending_LSOA.to_csv("ascending_LSOA_basic.csv")


# extract the essential details of ascending LSOAs
#ascending_LSOA = ascending_LSOA.drop(ascending_LSOA.columns[1:22],axis=1)

## Analysing Counts of LSOAs According to their Neighbourhoo States

In [13]:
# group lsoas according to their local authority

df_LA_counts = df_score.groupby(["Local_authority_name"]).size().reset_index()

In [14]:
# checking the number of lsoas that each local authority has respectively

df_LA_counts = pd.DataFrame(df_LA_counts)
df_LA_counts = df_LA_counts.rename(columns={0:"LSOA_count"})

In [15]:
df_LA_counts.head()

   Local_authority_name  LSOA_count
0  Barking and Dagenham         110
1                Barnet         211
2                Bexley         146
3                 Brent         173
4               Bromley         197

In [16]:
# now group lsoas by their local authority and then their neighbourhood states

df_LA_break = df_score.groupby(["Local_authority_name","status"]).size().reset_index()

In [17]:
# convert to dataframe and rename the data feature

df_LA_break = pd.DataFrame(df_LA_break)
df_LA_break = df_LA_break.rename(columns={0:"count"})

In [18]:
df_LA_break.head()

   Local_authority_name status  count
0  Barking and Dagenham    ASC      1
1  Barking and Dagenham    DEC     22
2  Barking and Dagenham    STB     87
3                Barnet    ASC     18
4                Barnet    DEC     61

In [19]:
# merge the 2 dataframes

df_LA_counts = df_LA_counts.merge(df_LA_break, left_on = "Local_authority_name", right_on = "Local_authority_name", how = "left")

In [20]:
df_LA_counts.head()

   Local_authority_name  LSOA_count status  count
0  Barking and Dagenham         110    ASC      1
1  Barking and Dagenham         110    DEC     22
2  Barking and Dagenham         110    STB     87
3                Barnet         211    ASC     18
4                Barnet         211    DEC     61

In [21]:
# compute the share of LSOA neighbourhood states in each local authority (in % terms)

df_LA_counts["count_share"] = df_LA_counts["count"] / df_LA_counts["LSOA_count"] * 100
df_LA_counts["count_share"] = df_LA_counts["count_share"].round(2)

In [22]:
df_LA_counts.head()

   Local_authority_name  LSOA_count status  count  count_share
0  Barking and Dagenham         110    ASC      1         0.91
1  Barking and Dagenham         110    DEC     22        20.00
2  Barking and Dagenham         110    STB     87        79.09
3                Barnet         211    ASC     18         8.53
4                Barnet         211    DEC     61        28.91

In [23]:
# extract info for only the ascending states

df_LA_counts_asc = df_LA_counts.loc[df_LA_counts["status"] == "ASC"]

In [24]:
# extract the 5 local authorities with the largest share of ascending lsoas

df_LA_counts_asc.nlargest(5, "count_share")

      Local_authority_name  LSOA_count status  count  count_share
89          Waltham Forest         144    ASC     70        48.61
56  Kensington and Chelsea         103    ASC     39        37.86
62                 Lambeth         178    ASC     58        32.58
94             Westminster         128    ASC     38        29.69
91              Wandsworth         179    ASC     51        28.49

In [25]:
# extract info for only the descending states

df_LA_counts_dec = df_LA_counts.loc[df_LA_counts["status"] == "DEC"]

In [26]:
# extract the 5 local authorities with the largest share of descending lsoas

df_LA_counts_dec.nlargest(5, "count_share")

   Local_authority_name  LSOA_count status  count  count_share
72               Newham         164    DEC     53        32.32
87        Tower Hamlets         144    DEC     42        29.17
4                Barnet         211    DEC     61        28.91
16               Camden         133    DEC     38        28.57
75            Redbridge         161    DEC     45        27.95