In [1]:
# import pandas library

import pandas as pd

In [2]:
# read in relevant files

df_score = pd.read_csv("score_analysis_new.csv")
df_score = df_score.drop(columns = "Unnamed: 0")

In [3]:
df_score.head()

,LSOA_Code,Median_House_Prices_2001,Median_House_Prices_2011,Level_4_qualifications_and_above_2001_pct,Level_4_qualifications_and_above_2011_pct,X1_Higher_managerial_administrative_and_professional_occupations_2001_pct,X1_Higher_managerial_administrative_and_professional_occupations_2011_pct,Median_income_2001,Median_income_2011,Score_2001,Score_2011,Rank_2001,Rank_2011,Rank_chg,Z_score,score_chg,status
0,E01000001,497000,819375,77.555556,83.222469,43.407043,45.722714,65520,83221,2.354388,3.897793,86.0,199.0,-113.0,-0.258531,1.543405,STB
1,E01000002,528750,814000,79.195669,83.538462,43.311037,48.463902,66300,99928,2.479326,4.587567,81.0,111.0,-30.0,-0.068637,2.108242,STB
2,E01000003,335000,574688,56.843800,70.099668,25.226860,33.533333,54140,63251,0.634527,2.001385,573.0,806.0,-233.0,-0.533078,1.366858,STB
3,E01000005,300000,300000,34.470158,40.396660,11.513583,14.849429,46740,48695,-0.537932,-0.258055,1701.0,3338.0,-1637.0,-3.745272,0.279877,DEC
4,E01000006,232500,408125,32.925898,34.919524,8.713030,8.280702,38200,40066,-1.117856,-0.633403,2731.0,4012.0,-1281.0,-2.930784,0.484453,DEC

In [4]:
# verify the breakdown of neighbourhood states

df_score.groupby("status").size()

status
ASC     837
DEC     692
STB    3306
dtype: int64

In [5]:
# extract only ascending LSOAs

ascending_LSOA = df_score[df_score["status"] == "ASC"]

In [6]:
# check extracted dataframe

ascending_LSOA

,LSOA_Code,Median_House_Prices_2001,Median_House_Prices_2011,Level_4_qualifications_and_above_2001_pct,Level_4_qualifications_and_above_2011_pct,X1_Higher_managerial_administrative_and_professional_occupations_2001_pct,X1_Higher_managerial_administrative_and_professional_occupations_2011_pct,Median_income_2001,Median_income_2011,Score_2001,Score_2011,Rank_2001,Rank_2011,Rank_chg,Z_score,score_chg,status
34,E01000037,195000,422063,18.539326,29.964413,5.643341,9.985735,40510,54274,-1.462845,-0.114304,3583.0,3094.0,489.0,1.118777,1.348541,ASC
117,E01000121,200000,536063,21.863799,33.692053,6.174089,9.128631,32850,41945,-1.656521,-0.269743,4079.0,3368.0,711.0,1.626688,1.386778,ASC
122,E01000126,199950,438125,28.432642,39.689579,5.656566,10.329670,28270,38285,-1.728011,-0.483022,4248.0,3746.0,502.0,1.148520,1.244990,ASC
131,E01000135,435000,1172531,49.806651,57.142857,20.302760,25.108225,44720,57377,0.238526,2.644451,841.0,505.0,336.0,0.768730,2.405925,ASC
136,E01000140,340500,738750,47.462473,57.687577,14.429012,23.894349,36780,52565,-0.493346,1.460109,1635.0,1173.0,462.0,1.057004,1.953454,ASC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4809,E01033711,339498,806250,58.027079,72.283205,17.814961,30.186608,40000,60309,-0.088983,2.346314,1168.0,628.0,540.0,1.235459,2.435297,ASC
4810,E01033712,290000,791250,53.936087,58.910506,11.681137,22.057677,37160,50437,-0.571824,1.462761,1757.0,1170.0,587.0,1.342990,2.034585,ASC
4811,E01033713,250000,609569,48.219178,63.429571,12.290503,25.502183,35690,51931,-0.793449,1.295197,2102.0,1299.0,803.0,1.837174,2.088647,ASC
4824,E01033736,250000,556375,65.079365,74.987763,28.871129,38.269795,42640,78361,0.282141,2.746190,809.0,475.0,334.0,0.764154,2.464049,ASC
4825,E01033737,180000,498875,25.838622,44.523196,5.624404,13.953488,30140,37933,-1.750265,-0.159298,4302.0,3174.0,1128.0,2.580737,1.590967,ASC

In [7]:
# checkpoint - output file
#ascending_LSOA.to_csv("ascending_LSOA.csv")
#ascending_LSOA.to_csv("ascending_LSOA2.csv")

In [8]:
# checkpoint - uncomment next line to start from this line onwards
# ascending_LSOA.to_csv("ascending_LSOA_basic.csv")


# extract the essential details of ascending LSOAs
#ascending_LSOA = ascending_LSOA.drop(ascending_LSOA.columns[1:22],axis=1)

## Analysing Counts of LSOAs According to their Neighbourhoo States

In [9]:
# group lsoas according to their local authority

df_LA_counts = df_score.groupby(["Local_authority_name"]).size().reset_index()

KeyError: 'Local_authority_name'

In [10]:
# checking the number of lsoas that each local authority has respectively

df_LA_counts = pd.DataFrame(df_LA_counts)
df_LA_counts = df_LA_counts.rename(columns={0:"LSOA_count"})

In [11]:
df_LA_counts.head()

   Local_authority_name  LSOA_count
0  Barking and Dagenham         110
1                Barnet         211
2                Bexley         146
3                 Brent         173
4               Bromley         197

In [12]:
# now group lsoas by their local authority and then their neighbourhood states

df_LA_break = df_score.groupby(["Local_authority_name","status"]).size().reset_index()

In [13]:
# convert to dataframe and rename the data feature

df_LA_break = pd.DataFrame(df_LA_break)
df_LA_break = df_LA_break.rename(columns={0:"count"})

In [14]:
df_LA_break.head()

   Local_authority_name status  count
0  Barking and Dagenham    ASC      7
1  Barking and Dagenham    DEC      1
2  Barking and Dagenham    STB    102
3                Barnet    ASC     31
4                Barnet    DEC     37

In [15]:
# merge the 2 dataframes

df_LA_counts = df_LA_counts.merge(df_LA_break, left_on = "Local_authority_name", right_on = "Local_authority_name", how = "left")

In [16]:
df_LA_counts.head()

   Local_authority_name  LSOA_count status  count
0  Barking and Dagenham         110    ASC      7
1  Barking and Dagenham         110    DEC      1
2  Barking and Dagenham         110    STB    102
3                Barnet         211    ASC     31
4                Barnet         211    DEC     37

In [17]:
# compute the share of LSOA neighbourhood states in each local authority (in % terms)

df_LA_counts["count_share"] = df_LA_counts["count"] / df_LA_counts["LSOA_count"] * 100
df_LA_counts["count_share"] = df_LA_counts["count_share"].round(2)

In [18]:
df_LA_counts.head()

   Local_authority_name  LSOA_count status  count  count_share
0  Barking and Dagenham         110    ASC      7         6.36
1  Barking and Dagenham         110    DEC      1         0.91
2  Barking and Dagenham         110    STB    102        92.73
3                Barnet         211    ASC     31        14.69
4                Barnet         211    DEC     37        17.54

In [19]:
# extract info for only the ascending states

df_LA_counts_asc = df_LA_counts.loc[df_LA_counts["status"] == "ASC"]

In [20]:
# extract the 5 local authorities with the largest share of ascending lsoas

df_LA_counts_asc.nlargest(5, "count_share")

      Local_authority_name  LSOA_count status  count  count_share
55  Kensington and Chelsea         103    ASC     55        53.40
94             Westminster         128    ASC     46        35.94
70                  Newham         164    ASC     55        33.54
31                 Hackney         144    ASC     46        31.94
73               Redbridge         161    ASC     49        30.43

In [21]:
# extract info for only the descending states

df_LA_counts_dec = df_LA_counts.loc[df_LA_counts["status"] == "DEC"]

In [22]:
# extract the 5 local authorities with the largest share of descending lsoas

df_LA_counts_dec.nlargest(5, "count_share")

    Local_authority_name  LSOA_count status  count  count_share
23                Ealing         196    DEC     69        35.20
50              Hounslow         142    DEC     37        26.06
10                 Brent         173    DEC     45        26.01
20               Croydon         220    DEC     48        21.82
59  Kingston upon Thames          98    DEC     21        21.43