In [28]:
import pandas as pd

## Prepare 2001 Datasets

In [29]:
# read in compiled 2001 census data

main_01 = pd.read_csv("main_df_2001_all.csv")

In [30]:
main_01.head()

,Unnamed: 0,2011 census lower super output areas,2011 super output area - lower layer_x,All usual residents,Aged 4 and under,Aged 5 to 9,Aged 10 to 14,Aged 15 to 19,Aged 20 to 24,Aged 25 to 29,...,X1_Higher_managerial_administrative_and_professional_occupations_2011,X2_Lower_managerial_administrative_and_professional_occupations_2011,X3_Intermediate_occupations_2011,X4_Small_employers_and_own_account_workers_2011,X5_Lower_supervisory_and_technical_occupations_2011,X6_Semi_routine_occupations_2011,X7_Routine_occupations_2011,X8_Never_worked_and_long_term_unemployed_2011,Not_classified_2011,Median_income_2011
0,0,E01000001,City of London 001A,1465.0,50.0,33.0,26.0,19.0,63.0,140.0,...,530.0,429.0,73.0,68.0,12.0,25.0,8.0,21.0,55.0,65520.0
1,1,E01000002,City of London 001B,1436.0,60.0,46.0,30.0,28.0,40.0,92.0,...,518.0,392.0,83.0,85.0,15.0,23.0,9.0,11.0,60.0,66300.0
2,2,E01000003,City of London 001C,1346.0,53.0,22.0,24.0,72.0,77.0,144.0,...,278.0,322.0,101.0,66.0,38.0,68.0,49.0,51.0,129.0,54140.0
3,3,E01000005,City of London 001E,985.0,42.0,60.0,49.0,48.0,97.0,122.0,...,89.0,172.0,71.0,43.0,54.0,100.0,66.0,96.0,82.0,46740.0
4,4,E01000006,Barking and Dagenham 016A,1703.0,154.0,122.0,100.0,83.0,129.0,216.0,...,109.0,218.0,117.0,164.0,63.0,153.0,97.0,163.0,167.0,38200.0

In [31]:
# check feature columns

list(main_01.columns)

['Unnamed: 0',
 '2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'All usual residents',
 'Aged 4 and under',
 'Aged 5 to 9',
 'Aged 10 to 14',
 'Aged 15 to 19',
 'Aged 20 to 24',
 'Aged 25 to 29',
 'Aged 30 to 34',
 'Aged 35 to 39',
 'Aged 40 to 44',
 'Aged 45 to 49',
 'Aged 50 to 54',
 'Aged 55 to 59',
 'Aged 60 to 64',
 'Aged 65 to 69',
 'Aged 70 to 74',
 'Aged 75 to 79',
 'Aged 80 to 84',
 'Aged 85 and over',
 'All categories: Household composition',
 'One person household: Aged 65 and over',
 'One person household: Other',
 'One family only: All aged 65 and over',
 'One family only: Married or same-sex civil partnership couple: No children',
 'One family only: Married or same-sex civil partnership couple: Dependent children',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent',
 'One family only: Cohabiting couple: No children',
 'One family only: Cohabiting couple: Dependent children',
 'One family only: Cohabiting couple: All children non-dependent',
 'One family only: Lone parent: Dependent children',
 'One family only: Lone parent: All children non-dependent',
 'Other household types: With dependent children',
 'All other types',
 'All categories: Type of central heating in household',
 'Does not have central heating',
 'Does have central heating',
 'Occupancy rating (rooms) of -1 or less',
 'Average household size',
 'Average number of rooms per household',
 'All households',
 'Owned: Owned outright',
 'Owned: Owned with a mortgage or loan',
 'Shared ownership (part owned and part rented)',
 'Social rented: Rented from council (Local Authority)',
 'Social rented: Other',
 'Private rented: Private landlord or letting agency',
 'Private rented: Other',
 'All categories: Household spaces',
 'Household spaces with at least one usual resident',
 'Household spaces with no usual residents',
 'Whole house or bungalow: Detached',
 'Whole house or bungalow: Semi-detached',
 'Whole house or bungalow: Terraced (including end-terrace)',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)',
 'Flat, maisonette or apartment: In a commercial building',
 'All categories: Occupation',
 '1. Managers, directors and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Caring, leisure and other service occupations',
 '7. Sales and customer service occupations',
 '8. Process plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'Local_authority_name',
 'pop_2011',
 'Median_House_Prices_2011',
 'All_cat_qual_2011',
 'Level_4_qual_2011',
 'Level4_2011_pct',
 'All_categories_NS_SeC_2011',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011',
 'X3_Intermediate_occupations_2011',
 'X4_Small_employers_and_own_account_workers_2011',
 'X5_Lower_supervisory_and_technical_occupations_2011',
 'X6_Semi_routine_occupations_2011',
 'X7_Routine_occupations_2011',
 'X8_Never_worked_and_long_term_unemployed_2011',
 'Not_classified_2011',
 'Median_income_2011']

In [32]:
# drop unnecessary columns

main_01 = main_01.drop(columns = ['Unnamed: 0',])

In [33]:
# verify the eventual features after scrubbing the unnecessary ones

list(main_01.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'All usual residents',
 'Aged 4 and under',
 'Aged 5 to 9',
 'Aged 10 to 14',
 'Aged 15 to 19',
 'Aged 20 to 24',
 'Aged 25 to 29',
 'Aged 30 to 34',
 'Aged 35 to 39',
 'Aged 40 to 44',
 'Aged 45 to 49',
 'Aged 50 to 54',
 'Aged 55 to 59',
 'Aged 60 to 64',
 'Aged 65 to 69',
 'Aged 70 to 74',
 'Aged 75 to 79',
 'Aged 80 to 84',
 'Aged 85 and over',
 'All categories: Household composition',
 'One person household: Aged 65 and over',
 'One person household: Other',
 'One family only: All aged 65 and over',
 'One family only: Married or same-sex civil partnership couple: No children',
 'One family only: Married or same-sex civil partnership couple: Dependent children',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent',
 'One family only: Cohabiting couple: No children',
 'One family only: Cohabiting couple: Dependent children',
 'One family only: Cohabiting couple: All children non-dependent',
 'One family only: Lone parent: Dependent children',
 'One family only: Lone parent: All children non-dependent',
 'Other household types: With dependent children',
 'All other types',
 'All categories: Type of central heating in household',
 'Does not have central heating',
 'Does have central heating',
 'Occupancy rating (rooms) of -1 or less',
 'Average household size',
 'Average number of rooms per household',
 'All households',
 'Owned: Owned outright',
 'Owned: Owned with a mortgage or loan',
 'Shared ownership (part owned and part rented)',
 'Social rented: Rented from council (Local Authority)',
 'Social rented: Other',
 'Private rented: Private landlord or letting agency',
 'Private rented: Other',
 'All categories: Household spaces',
 'Household spaces with at least one usual resident',
 'Household spaces with no usual residents',
 'Whole house or bungalow: Detached',
 'Whole house or bungalow: Semi-detached',
 'Whole house or bungalow: Terraced (including end-terrace)',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)',
 'Flat, maisonette or apartment: In a commercial building',
 'All categories: Occupation',
 '1. Managers, directors and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Caring, leisure and other service occupations',
 '7. Sales and customer service occupations',
 '8. Process plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'Local_authority_name',
 'pop_2011',
 'Median_House_Prices_2011',
 'All_cat_qual_2011',
 'Level_4_qual_2011',
 'Level4_2011_pct',
 'All_categories_NS_SeC_2011',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011',
 'X3_Intermediate_occupations_2011',
 'X4_Small_employers_and_own_account_workers_2011',
 'X5_Lower_supervisory_and_technical_occupations_2011',
 'X6_Semi_routine_occupations_2011',
 'X7_Routine_occupations_2011',
 'X8_Never_worked_and_long_term_unemployed_2011',
 'Not_classified_2011',
 'Median_income_2011']

In [34]:
# standardise data points

#standardise age structures
for i in range(3,21):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / main_01[str(main_01.columns[2])] *100).round(2)

#standardise household composition
for i in range(22,35):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / main_01[str(main_01.columns[21])] *100).round(2)   

#standardise residential makeup
for i in range(36,39):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / main_01[str(main_01.columns[35])] *100).round(2)

#standardise residential tenure
for i in range(42,49):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / main_01[str(main_01.columns[41])] *100).round(2)

#standardise accommodation type
for i in range(50,58):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / (main_01[str(main_01.columns[49])] + main_01[str(main_01.columns[50])] + main_01[str(main_01.columns[51])]) *100).round(2)

#standardise occupation groups
for i in range(59,68):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / main_01[str(main_01.columns[58])] *100).round(2)
    
#standardise economically active population
for i in range(69,71):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / main_01[str(main_01.columns[68])] *100).round(2)

#standardise NS-SEC
for i in range(78,87):
    main_01[str(main_01.columns[i]) + '_pct'] = (main_01[str(main_01.columns[i])] / main_01[str(main_01.columns[77])] *100).round(2)

In [35]:
main_01.head()

,2011 census lower super output areas,2011 super output area - lower layer_x,All usual residents,Aged 4 and under,Aged 5 to 9,Aged 10 to 14,Aged 15 to 19,Aged 20 to 24,Aged 25 to 29,Aged 30 to 34,...,Economically Inactive_pct,X1_Higher_managerial_administrative_and_professional_occupations_2011_pct,X2_Lower_managerial_administrative_and_professional_occupations_2011_pct,X3_Intermediate_occupations_2011_pct,X4_Small_employers_and_own_account_workers_2011_pct,X5_Lower_supervisory_and_technical_occupations_2011_pct,X6_Semi_routine_occupations_2011_pct,X7_Routine_occupations_2011_pct,X8_Never_worked_and_long_term_unemployed_2011_pct,Not_classified_2011_pct
0,E01000001,City of London 001A,1465.0,50.0,33.0,26.0,19.0,63.0,140.0,151.0,...,21.05,43.41,35.14,5.98,5.57,0.98,2.05,0.66,1.72,4.50
1,E01000002,City of London 001B,1436.0,60.0,46.0,30.0,28.0,40.0,92.0,112.0,...,22.58,43.31,32.78,6.94,7.11,1.25,1.92,0.75,0.92,5.02
2,E01000003,City of London 001C,1346.0,53.0,22.0,24.0,72.0,77.0,144.0,135.0,...,25.41,25.23,29.22,9.17,5.99,3.45,6.17,4.45,4.63,11.71
3,E01000005,City of London 001E,985.0,42.0,60.0,49.0,48.0,97.0,122.0,80.0,...,31.44,11.51,22.25,9.18,5.56,6.99,12.94,8.54,12.42,10.61
4,E01000006,Barking and Dagenham 016A,1703.0,154.0,122.0,100.0,83.0,129.0,216.0,189.0,...,30.14,8.71,17.43,9.35,13.11,5.04,12.23,7.75,13.03,13.35

In [36]:
# check column names

list(main_01.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'All usual residents',
 'Aged 4 and under',
 'Aged 5 to 9',
 'Aged 10 to 14',
 'Aged 15 to 19',
 'Aged 20 to 24',
 'Aged 25 to 29',
 'Aged 30 to 34',
 'Aged 35 to 39',
 'Aged 40 to 44',
 'Aged 45 to 49',
 'Aged 50 to 54',
 'Aged 55 to 59',
 'Aged 60 to 64',
 'Aged 65 to 69',
 'Aged 70 to 74',
 'Aged 75 to 79',
 'Aged 80 to 84',
 'Aged 85 and over',
 'All categories: Household composition',
 'One person household: Aged 65 and over',
 'One person household: Other',
 'One family only: All aged 65 and over',
 'One family only: Married or same-sex civil partnership couple: No children',
 'One family only: Married or same-sex civil partnership couple: Dependent children',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent',
 'One family only: Cohabiting couple: No children',
 'One family only: Cohabiting couple: Dependent children',
 'One family only: Cohabiting couple: All children non-dependent',
 'One family only: Lone parent: Dependent children',
 'One family only: Lone parent: All children non-dependent',
 'Other household types: With dependent children',
 'All other types',
 'All categories: Type of central heating in household',
 'Does not have central heating',
 'Does have central heating',
 'Occupancy rating (rooms) of -1 or less',
 'Average household size',
 'Average number of rooms per household',
 'All households',
 'Owned: Owned outright',
 'Owned: Owned with a mortgage or loan',
 'Shared ownership (part owned and part rented)',
 'Social rented: Rented from council (Local Authority)',
 'Social rented: Other',
 'Private rented: Private landlord or letting agency',
 'Private rented: Other',
 'All categories: Household spaces',
 'Household spaces with at least one usual resident',
 'Household spaces with no usual residents',
 'Whole house or bungalow: Detached',
 'Whole house or bungalow: Semi-detached',
 'Whole house or bungalow: Terraced (including end-terrace)',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)',
 'Flat, maisonette or apartment: In a commercial building',
 'All categories: Occupation',
 '1. Managers, directors and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Caring, leisure and other service occupations',
 '7. Sales and customer service occupations',
 '8. Process plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'Local_authority_name',
 'pop_2011',
 'Median_House_Prices_2011',
 'All_cat_qual_2011',
 'Level_4_qual_2011',
 'Level4_2011_pct',
 'All_categories_NS_SeC_2011',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011',
 'X3_Intermediate_occupations_2011',
 'X4_Small_employers_and_own_account_workers_2011',
 'X5_Lower_supervisory_and_technical_occupations_2011',
 'X6_Semi_routine_occupations_2011',
 'X7_Routine_occupations_2011',
 'X8_Never_worked_and_long_term_unemployed_2011',
 'Not_classified_2011',
 'Median_income_2011',
 'Aged 4 and under_pct',
 'Aged 5 to 9_pct',
 'Aged 10 to 14_pct',
 'Aged 15 to 19_pct',
 'Aged 20 to 24_pct',
 'Aged 25 to 29_pct',
 'Aged 30 to 34_pct',
 'Aged 35 to 39_pct',
 'Aged 40 to 44_pct',
 'Aged 45 to 49_pct',
 'Aged 50 to 54_pct',
 'Aged 55 to 59_pct',
 'Aged 60 to 64_pct',
 'Aged 65 to 69_pct',
 'Aged 70 to 74_pct',
 'Aged 75 to 79_pct',
 'Aged 80 to 84_pct',
 'Aged 85 and over_pct',
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'All other types_pct',
 'Does not have central heating_pct',
 'Does have central heating_pct',
 'Occupancy rating (rooms) of -1 or less_pct',
 'Owned: Owned outright_pct',
 'Owned: Owned with a mortgage or loan_pct',
 'Shared ownership (part owned and part rented)_pct',
 'Social rented: Rented from council (Local Authority)_pct',
 'Social rented: Other_pct',
 'Private rented: Private landlord or letting agency_pct',
 'Private rented: Other_pct',
 'Household spaces with at least one usual resident_pct',
 'Household spaces with no usual residents_pct',
 'Whole house or bungalow: Detached_pct',
 'Whole house or bungalow: Semi-detached_pct',
 'Whole house or bungalow: Terraced (including end-terrace)_pct',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct',
 'Flat, maisonette or apartment: In a commercial building_pct',
 '1. Managers, directors and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Caring, leisure and other service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'Economically Inactive_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct',
 'X3_Intermediate_occupations_2011_pct',
 'X4_Small_employers_and_own_account_workers_2011_pct',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct',
 'X6_Semi_routine_occupations_2011_pct',
 'X7_Routine_occupations_2011_pct',
 'X8_Never_worked_and_long_term_unemployed_2011_pct',
 'Not_classified_2011_pct']

In [37]:
# rearrange columns accordingly

main_01 = main_01[['2011 census lower super output areas', 
 '2011 super output area - lower layer_x',
 'Local_authority_name',
 'All usual residents',
 'Aged 4 and under',
 'Aged 5 to 9',
 'Aged 10 to 14',
 'Aged 15 to 19',
 'Aged 20 to 24',
 'Aged 25 to 29',
 'Aged 30 to 34',
 'Aged 35 to 39',
 'Aged 40 to 44',
 'Aged 45 to 49',
 'Aged 50 to 54',
 'Aged 55 to 59',
 'Aged 60 to 64',
 'Aged 65 to 69',
 'Aged 70 to 74',
 'Aged 75 to 79',
 'Aged 80 to 84',
 'Aged 85 and over',
 'All categories: Household composition',
 'One person household: Aged 65 and over',
 'One person household: Other',
 'One family only: All aged 65 and over',
 'One family only: Married or same-sex civil partnership couple: No children',
 'One family only: Married or same-sex civil partnership couple: Dependent children',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent',
 'One family only: Cohabiting couple: No children',
 'One family only: Cohabiting couple: Dependent children',
 'One family only: Cohabiting couple: All children non-dependent',
 'One family only: Lone parent: Dependent children',
 'One family only: Lone parent: All children non-dependent',
 'Other household types: With dependent children',
 'All other types',
 'All categories: Type of central heating in household',
 'Does not have central heating',
 'Does have central heating',
 'Occupancy rating (rooms) of -1 or less',
 'All households',
 'Owned: Owned outright',
 'Owned: Owned with a mortgage or loan',
 'Shared ownership (part owned and part rented)',
 'Social rented: Rented from council (Local Authority)',
 'Social rented: Other',
 'Private rented: Private landlord or letting agency',
 'Private rented: Other',
 'All categories: Household spaces',
 'Household spaces with at least one usual resident',
 'Household spaces with no usual residents',
 'Whole house or bungalow: Detached',
 'Whole house or bungalow: Semi-detached',
 'Whole house or bungalow: Terraced (including end-terrace)',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)',
 'Flat, maisonette or apartment: In a commercial building',
 'All categories: Occupation',
 '1. Managers, directors and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Caring, leisure and other service occupations',
 '7. Sales and customer service occupations',
 '8. Process plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'All_cat_qual_2011',
 'Level_4_qual_2011',
 'All_categories_NS_SeC_2011',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011',
 'X3_Intermediate_occupations_2011',
 'X4_Small_employers_and_own_account_workers_2011',
 'X5_Lower_supervisory_and_technical_occupations_2011',
 'X6_Semi_routine_occupations_2011',
 'X7_Routine_occupations_2011',
 'X8_Never_worked_and_long_term_unemployed_2011',
 'Not_classified_2011',
 'pop_2011',
 'Median_House_Prices_2011',
 'Median_income_2011',
 'Aged 4 and under_pct',
 'Aged 5 to 9_pct',
 'Aged 10 to 14_pct',
 'Aged 15 to 19_pct',
 'Aged 20 to 24_pct',
 'Aged 25 to 29_pct',
 'Aged 30 to 34_pct',
 'Aged 35 to 39_pct',
 'Aged 40 to 44_pct',
 'Aged 45 to 49_pct',
 'Aged 50 to 54_pct',
 'Aged 55 to 59_pct',
 'Aged 60 to 64_pct',
 'Aged 65 to 69_pct',
 'Aged 70 to 74_pct',
 'Aged 75 to 79_pct',
 'Aged 80 to 84_pct',
 'Aged 85 and over_pct',
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'All other types_pct',
 'Occupancy rating (rooms) of -1 or less_pct',                  
 'Does not have central heating_pct',
 'Does have central heating_pct',
 'Average household size',
 'Average number of rooms per household',
 'Owned: Owned outright_pct',
 'Owned: Owned with a mortgage or loan_pct',
 'Shared ownership (part owned and part rented)_pct',
 'Social rented: Rented from council (Local Authority)_pct',
 'Social rented: Other_pct',
 'Private rented: Private landlord or letting agency_pct',
 'Private rented: Other_pct',
 'Household spaces with at least one usual resident_pct',
 'Household spaces with no usual residents_pct',
 'Whole house or bungalow: Detached_pct',
 'Whole house or bungalow: Semi-detached_pct',
 'Whole house or bungalow: Terraced (including end-terrace)_pct',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct',
 'Flat, maisonette or apartment: In a commercial building_pct',
 '1. Managers, directors and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Caring, leisure and other service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'Economically Inactive_pct',
 'Level4_2011_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct',
 'X3_Intermediate_occupations_2011_pct',
 'X4_Small_employers_and_own_account_workers_2011_pct',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct',
 'X6_Semi_routine_occupations_2011_pct',
 'X7_Routine_occupations_2011_pct',
 'X8_Never_worked_and_long_term_unemployed_2011_pct',
 'Not_classified_2011_pct']]

In [38]:
# checkpoing - output file
main_01.to_csv("main_01_all_std.csv")

## Prepare 2011 Datasets

In [39]:
# read in compiled 2011 census data

main_11 = pd.read_csv("main_df_2011_all.csv", thousands = ",")

In [40]:
main_11.head()

,Unnamed: 0,2011 census lower super output areas,2011 super output area - lower layer_x,All usual residents,Aged 4 and under,Aged 5 to 9,Aged 10 to 14,Aged 15 to 19,Aged 20 to 24,Aged 25 to 29,...,X1_Higher_managerial_administrative_and_professional_occupations_2011,X2_Lower_managerial_administrative_and_professional_occupations_2011,X3_Intermediate_occupations_2011,X4_Small_employers_and_own_account_workers_2011,X5_Lower_supervisory_and_technical_occupations_2011,X6_Semi_routine_occupations_2011,X7_Routine_occupations_2011,X8_Never_worked_and_long_term_unemployed_2011,Not_classified_2011,Median_income_2011
0,0,E01000001,City of London 001A,1484.0,52.0,35.0,32.0,23.0,91.0,160.0,...,620.0,367.0,72.0,118.0,11.0,31.0,16.0,37.0,84.0,83221.0
1,1,E01000002,City of London 001B,1382.0,34.0,23.0,22.0,30.0,100.0,166.0,...,631.0,358.0,55.0,95.0,6.0,17.0,10.0,42.0,88.0,99928.0
2,2,E01000003,City of London 001C,1617.0,40.0,35.0,33.0,23.0,95.0,187.0,...,503.0,426.0,131.0,128.0,33.0,70.0,70.0,72.0,67.0,63251.0
3,3,E01000005,City of London 001E,1098.0,50.0,44.0,35.0,89.0,118.0,96.0,...,143.0,141.0,61.0,56.0,42.0,102.0,103.0,152.0,163.0,48695.0
4,4,E01000006,Barking and Dagenham 016A,1838.0,153.0,127.0,110.0,123.0,123.0,130.0,...,118.0,210.0,125.0,237.0,68.0,164.0,164.0,183.0,156.0,40066.0

In [41]:
# check column names

list(main_11.columns)

['Unnamed: 0',
 '2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'All usual residents',
 'Aged 4 and under',
 'Aged 5 to 9',
 'Aged 10 to 14',
 'Aged 15 to 19',
 'Aged 20 to 24',
 'Aged 25 to 29',
 'Aged 30 to 34',
 'Aged 35 to 39',
 'Aged 40 to 44',
 'Aged 45 to 49',
 'Aged 50 to 54',
 'Aged 55 to 59',
 'Aged 60 to 64',
 'Aged 65 to 69',
 'Aged 70 to 74',
 'Aged 75 to 79',
 'Aged 80 to 84',
 'Aged 85 and over',
 'All categories: Household composition',
 'One person household: Aged 65 and over',
 'One person household: Other',
 'One family only: All aged 65 and over',
 'One family only: Married or same-sex civil partnership couple: No children',
 'One family only: Married or same-sex civil partnership couple: Dependent children',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent',
 'One family only: Cohabiting couple: No children',
 'One family only: Cohabiting couple: Dependent children',
 'One family only: Cohabiting couple: All children non-dependent',
 'One family only: Lone parent: Dependent children',
 'One family only: Lone parent: All children non-dependent',
 'Other household types: With dependent children',
 'All other types',
 'All categories: Type of central heating in household',
 'Does not have central heating',
 'Does have central heating',
 'Occupancy rating (rooms) of -1 or less',
 'Average household size',
 'Average number of rooms per household',
 'All households',
 'Owned: Owned outright',
 'Owned: Owned with a mortgage or loan',
 'Shared ownership (part owned and part rented)',
 'Social rented: Rented from council (Local Authority)',
 'Social rented: Other',
 'Private rented: Private landlord or letting agency',
 'Private rented: Other',
 'All categories: Household spaces',
 'Household spaces with at least one usual resident',
 'Household spaces with no usual residents',
 'Whole house or bungalow: Detached',
 'Whole house or bungalow: Semi-detached',
 'Whole house or bungalow: Terraced (including end-terrace)',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)',
 'Flat, maisonette or apartment: In a commercial building',
 'All categories: Occupation',
 '1. Managers, directors and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Caring, leisure and other service occupations',
 '7. Sales and customer service occupations',
 '8. Process plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'Local_authority_name',
 'pop_2011',
 'Median_House_Prices_2011',
 'All_cat_qual_2011',
 'Level_4_qual_2011',
 'Level4_2011_pct',
 'All_categories_NS_SeC_2011',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011',
 'X3_Intermediate_occupations_2011',
 'X4_Small_employers_and_own_account_workers_2011',
 'X5_Lower_supervisory_and_technical_occupations_2011',
 'X6_Semi_routine_occupations_2011',
 'X7_Routine_occupations_2011',
 'X8_Never_worked_and_long_term_unemployed_2011',
 'Not_classified_2011',
 'Median_income_2011']

In [42]:
# drop unnecessary columns

main_11 = main_11.drop(columns = ['Unnamed: 0'])

In [43]:
list(main_11.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'All usual residents',
 'Aged 4 and under',
 'Aged 5 to 9',
 'Aged 10 to 14',
 'Aged 15 to 19',
 'Aged 20 to 24',
 'Aged 25 to 29',
 'Aged 30 to 34',
 'Aged 35 to 39',
 'Aged 40 to 44',
 'Aged 45 to 49',
 'Aged 50 to 54',
 'Aged 55 to 59',
 'Aged 60 to 64',
 'Aged 65 to 69',
 'Aged 70 to 74',
 'Aged 75 to 79',
 'Aged 80 to 84',
 'Aged 85 and over',
 'All categories: Household composition',
 'One person household: Aged 65 and over',
 'One person household: Other',
 'One family only: All aged 65 and over',
 'One family only: Married or same-sex civil partnership couple: No children',
 'One family only: Married or same-sex civil partnership couple: Dependent children',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent',
 'One family only: Cohabiting couple: No children',
 'One family only: Cohabiting couple: Dependent children',
 'One family only: Cohabiting couple: All children non-dependent',
 'One family only: Lone parent: Dependent children',
 'One family only: Lone parent: All children non-dependent',
 'Other household types: With dependent children',
 'All other types',
 'All categories: Type of central heating in household',
 'Does not have central heating',
 'Does have central heating',
 'Occupancy rating (rooms) of -1 or less',
 'Average household size',
 'Average number of rooms per household',
 'All households',
 'Owned: Owned outright',
 'Owned: Owned with a mortgage or loan',
 'Shared ownership (part owned and part rented)',
 'Social rented: Rented from council (Local Authority)',
 'Social rented: Other',
 'Private rented: Private landlord or letting agency',
 'Private rented: Other',
 'All categories: Household spaces',
 'Household spaces with at least one usual resident',
 'Household spaces with no usual residents',
 'Whole house or bungalow: Detached',
 'Whole house or bungalow: Semi-detached',
 'Whole house or bungalow: Terraced (including end-terrace)',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)',
 'Flat, maisonette or apartment: In a commercial building',
 'All categories: Occupation',
 '1. Managers, directors and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Caring, leisure and other service occupations',
 '7. Sales and customer service occupations',
 '8. Process plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'Local_authority_name',
 'pop_2011',
 'Median_House_Prices_2011',
 'All_cat_qual_2011',
 'Level_4_qual_2011',
 'Level4_2011_pct',
 'All_categories_NS_SeC_2011',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011',
 'X3_Intermediate_occupations_2011',
 'X4_Small_employers_and_own_account_workers_2011',
 'X5_Lower_supervisory_and_technical_occupations_2011',
 'X6_Semi_routine_occupations_2011',
 'X7_Routine_occupations_2011',
 'X8_Never_worked_and_long_term_unemployed_2011',
 'Not_classified_2011',
 'Median_income_2011']

In [44]:
# standardise data points

#standardise age structures
for i in range(3,21):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[2])] *100).round(2)
    
#standardise household composition
for i in range(22,35):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[21])] *100).round(2)

#standardise residential makeup
for i in range(36,39):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[35])] *100).round(2)

#standardise residential tenure
for i in range(42,49):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[41])] *100).round(2)

#standardise accommodation type
for i in range(50,58):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[49])] *100).round(2)

#standardise occupation groups
for i in range(59,68):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[58])] *100).round(2)
    
#standardise economically active population
for i in range(69,71):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[68])] *100).round(2)

#standardise NS-SEC
for i in range(78,87):
    main_11[str(main_11.columns[i]) + '_pct'] = (main_11[str(main_11.columns[i])] / main_11[str(main_11.columns[77])] *100).round(2)

In [45]:
# check feature columns

list(main_11.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'All usual residents',
 'Aged 4 and under',
 'Aged 5 to 9',
 'Aged 10 to 14',
 'Aged 15 to 19',
 'Aged 20 to 24',
 'Aged 25 to 29',
 'Aged 30 to 34',
 'Aged 35 to 39',
 'Aged 40 to 44',
 'Aged 45 to 49',
 'Aged 50 to 54',
 'Aged 55 to 59',
 'Aged 60 to 64',
 'Aged 65 to 69',
 'Aged 70 to 74',
 'Aged 75 to 79',
 'Aged 80 to 84',
 'Aged 85 and over',
 'All categories: Household composition',
 'One person household: Aged 65 and over',
 'One person household: Other',
 'One family only: All aged 65 and over',
 'One family only: Married or same-sex civil partnership couple: No children',
 'One family only: Married or same-sex civil partnership couple: Dependent children',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent',
 'One family only: Cohabiting couple: No children',
 'One family only: Cohabiting couple: Dependent children',
 'One family only: Cohabiting couple: All children non-dependent',
 'One family only: Lone parent: Dependent children',
 'One family only: Lone parent: All children non-dependent',
 'Other household types: With dependent children',
 'All other types',
 'All categories: Type of central heating in household',
 'Does not have central heating',
 'Does have central heating',
 'Occupancy rating (rooms) of -1 or less',
 'Average household size',
 'Average number of rooms per household',
 'All households',
 'Owned: Owned outright',
 'Owned: Owned with a mortgage or loan',
 'Shared ownership (part owned and part rented)',
 'Social rented: Rented from council (Local Authority)',
 'Social rented: Other',
 'Private rented: Private landlord or letting agency',
 'Private rented: Other',
 'All categories: Household spaces',
 'Household spaces with at least one usual resident',
 'Household spaces with no usual residents',
 'Whole house or bungalow: Detached',
 'Whole house or bungalow: Semi-detached',
 'Whole house or bungalow: Terraced (including end-terrace)',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)',
 'Flat, maisonette or apartment: In a commercial building',
 'All categories: Occupation',
 '1. Managers, directors and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Caring, leisure and other service occupations',
 '7. Sales and customer service occupations',
 '8. Process plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'Local_authority_name',
 'pop_2011',
 'Median_House_Prices_2011',
 'All_cat_qual_2011',
 'Level_4_qual_2011',
 'Level4_2011_pct',
 'All_categories_NS_SeC_2011',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011',
 'X3_Intermediate_occupations_2011',
 'X4_Small_employers_and_own_account_workers_2011',
 'X5_Lower_supervisory_and_technical_occupations_2011',
 'X6_Semi_routine_occupations_2011',
 'X7_Routine_occupations_2011',
 'X8_Never_worked_and_long_term_unemployed_2011',
 'Not_classified_2011',
 'Median_income_2011',
 'Aged 4 and under_pct',
 'Aged 5 to 9_pct',
 'Aged 10 to 14_pct',
 'Aged 15 to 19_pct',
 'Aged 20 to 24_pct',
 'Aged 25 to 29_pct',
 'Aged 30 to 34_pct',
 'Aged 35 to 39_pct',
 'Aged 40 to 44_pct',
 'Aged 45 to 49_pct',
 'Aged 50 to 54_pct',
 'Aged 55 to 59_pct',
 'Aged 60 to 64_pct',
 'Aged 65 to 69_pct',
 'Aged 70 to 74_pct',
 'Aged 75 to 79_pct',
 'Aged 80 to 84_pct',
 'Aged 85 and over_pct',
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'All other types_pct',
 'Does not have central heating_pct',
 'Does have central heating_pct',
 'Occupancy rating (rooms) of -1 or less_pct',
 'Owned: Owned outright_pct',
 'Owned: Owned with a mortgage or loan_pct',
 'Shared ownership (part owned and part rented)_pct',
 'Social rented: Rented from council (Local Authority)_pct',
 'Social rented: Other_pct',
 'Private rented: Private landlord or letting agency_pct',
 'Private rented: Other_pct',
 'Household spaces with at least one usual resident_pct',
 'Household spaces with no usual residents_pct',
 'Whole house or bungalow: Detached_pct',
 'Whole house or bungalow: Semi-detached_pct',
 'Whole house or bungalow: Terraced (including end-terrace)_pct',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct',
 'Flat, maisonette or apartment: In a commercial building_pct',
 '1. Managers, directors and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Caring, leisure and other service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'Economically Inactive_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct',
 'X3_Intermediate_occupations_2011_pct',
 'X4_Small_employers_and_own_account_workers_2011_pct',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct',
 'X6_Semi_routine_occupations_2011_pct',
 'X7_Routine_occupations_2011_pct',
 'X8_Never_worked_and_long_term_unemployed_2011_pct',
 'Not_classified_2011_pct']

In [46]:
# re-arrange columns

main_11 = main_11[['2011 census lower super output areas', 
 '2011 super output area - lower layer_x',
 'Local_authority_name',
 'All usual residents',
 'Aged 4 and under',
 'Aged 5 to 9',
 'Aged 10 to 14',
 'Aged 15 to 19',
 'Aged 20 to 24',
 'Aged 25 to 29',
 'Aged 30 to 34',
 'Aged 35 to 39',
 'Aged 40 to 44',
 'Aged 45 to 49',
 'Aged 50 to 54',
 'Aged 55 to 59',
 'Aged 60 to 64',
 'Aged 65 to 69',
 'Aged 70 to 74',
 'Aged 75 to 79',
 'Aged 80 to 84',
 'Aged 85 and over',
 'All categories: Household composition',
 'One person household: Aged 65 and over',
 'One person household: Other',
 'One family only: All aged 65 and over',
 'One family only: Married or same-sex civil partnership couple: No children',
 'One family only: Married or same-sex civil partnership couple: Dependent children',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent',
 'One family only: Cohabiting couple: No children',
 'One family only: Cohabiting couple: Dependent children',
 'One family only: Cohabiting couple: All children non-dependent',
 'One family only: Lone parent: Dependent children',
 'One family only: Lone parent: All children non-dependent',
 'Other household types: With dependent children',
 'All other types',
 'All categories: Type of central heating in household',
 'Does not have central heating',
 'Does have central heating',
 'Occupancy rating (rooms) of -1 or less',
 'All households',
 'Owned: Owned outright',
 'Owned: Owned with a mortgage or loan',
 'Shared ownership (part owned and part rented)',
 'Social rented: Rented from council (Local Authority)',
 'Social rented: Other',
 'Private rented: Private landlord or letting agency',
 'Private rented: Other',
 'All categories: Household spaces',
 'Household spaces with at least one usual resident',
 'Household spaces with no usual residents',
 'Whole house or bungalow: Detached',
 'Whole house or bungalow: Semi-detached',
 'Whole house or bungalow: Terraced (including end-terrace)',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)',
 'Flat, maisonette or apartment: In a commercial building',
 'All categories: Occupation',
 '1. Managers, directors and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Caring, leisure and other service occupations',
 '7. Sales and customer service occupations',
 '8. Process plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'All_cat_qual_2011',
 'Level_4_qual_2011',
 'All_categories_NS_SeC_2011',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011',
 'X3_Intermediate_occupations_2011',
 'X4_Small_employers_and_own_account_workers_2011',
 'X5_Lower_supervisory_and_technical_occupations_2011',
 'X6_Semi_routine_occupations_2011',
 'X7_Routine_occupations_2011',
 'X8_Never_worked_and_long_term_unemployed_2011',
 'Not_classified_2011',
 'pop_2011',
 'Median_House_Prices_2011',
 'Median_income_2011',
 'Aged 4 and under_pct',
 'Aged 5 to 9_pct',
 'Aged 10 to 14_pct',
 'Aged 15 to 19_pct',
 'Aged 20 to 24_pct',
 'Aged 25 to 29_pct',
 'Aged 30 to 34_pct',
 'Aged 35 to 39_pct',
 'Aged 40 to 44_pct',
 'Aged 45 to 49_pct',
 'Aged 50 to 54_pct',
 'Aged 55 to 59_pct',
 'Aged 60 to 64_pct',
 'Aged 65 to 69_pct',
 'Aged 70 to 74_pct',
 'Aged 75 to 79_pct',
 'Aged 80 to 84_pct',
 'Aged 85 and over_pct',
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'All other types_pct',
 'Occupancy rating (rooms) of -1 or less_pct',                  
 'Does not have central heating_pct',
 'Does have central heating_pct',
 'Average household size',
 'Average number of rooms per household',
 'Owned: Owned outright_pct',
 'Owned: Owned with a mortgage or loan_pct',
 'Shared ownership (part owned and part rented)_pct',
 'Social rented: Rented from council (Local Authority)_pct',
 'Social rented: Other_pct',
 'Private rented: Private landlord or letting agency_pct',
 'Private rented: Other_pct',
 'Household spaces with at least one usual resident_pct',
 'Household spaces with no usual residents_pct',
 'Whole house or bungalow: Detached_pct',
 'Whole house or bungalow: Semi-detached_pct',
 'Whole house or bungalow: Terraced (including end-terrace)_pct',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct',
 'Flat, maisonette or apartment: In a commercial building_pct',
 '1. Managers, directors and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Caring, leisure and other service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'Economically Inactive_pct',
 'Level4_2011_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct',
 'X3_Intermediate_occupations_2011_pct',
 'X4_Small_employers_and_own_account_workers_2011_pct',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct',
 'X6_Semi_routine_occupations_2011_pct',
 'X7_Routine_occupations_2011_pct',
 'X8_Never_worked_and_long_term_unemployed_2011_pct',
 'Not_classified_2011_pct']]

In [47]:
# checkpoint - output file
main_11.to_csv("main_11_all_std.csv")

## Synthesising Both Datasets to Obtain Change Variables

In [48]:
# checkpoint - re-loading datasets

main_01=pd.read_csv("main_01_all_std.csv", thousands=",")
main_11=pd.read_csv("main_11_all_std.csv", thousands=",")
main_01=main_01.drop(columns=["Unnamed: 0"])
main_11=main_11.drop(columns=["Unnamed: 0"])

In [49]:
# printing out 2001 columns and their index

for i in range(len(main_01.columns)):
    print(str(i) + ':' + str(main_01.columns[i]))

0:2011 census lower super output areas
1:2011 super output area - lower layer_x
2:Local_authority_name
3:All usual residents
4:Aged 4 and under
5:Aged 5 to 9
6:Aged 10 to 14
7:Aged 15 to 19
8:Aged 20 to 24
9:Aged 25 to 29
10:Aged 30 to 34
11:Aged 35 to 39
12:Aged 40 to 44
13:Aged 45 to 49
14:Aged 50 to 54
15:Aged 55 to 59
16:Aged 60 to 64
17:Aged 65 to 69
18:Aged 70 to 74
19:Aged 75 to 79
20:Aged 80 to 84
21:Aged 85 and over
22:All categories: Household composition
23:One person household: Aged 65 and over
24:One person household: Other
25:One family only: All aged 65 and over
26:One family only: Married or same-sex civil partnership couple: No children
27:One family only: Married or same-sex civil partnership couple: Dependent children
28:One family only: Married or same-sex civil partnership couple: All children non-dependent
29:One family only: Cohabiting couple: No children
30:One family only: Cohabiting couple: Dependent children
31:One family only: Cohabiting couple: All children non-dependent
32:One family only: Lone parent: Dependent children
33:One family only: Lone parent: All children non-dependent
34:Other household types: With dependent children
35:All other types
36:All categories: Type of central heating in household
37:Does not have central heating
38:Does have central heating
39:Occupancy rating (rooms) of -1 or less
40:All households
41:Owned: Owned outright
42:Owned: Owned with a mortgage or loan
43:Shared ownership (part owned and part rented)
44:Social rented: Rented from council (Local Authority)
45:Social rented: Other
46:Private rented: Private landlord or letting agency
47:Private rented: Other
48:All categories: Household spaces
49:Household spaces with at least one usual resident
50:Household spaces with no usual residents
51:Whole house or bungalow: Detached
52:Whole house or bungalow: Semi-detached
53:Whole house or bungalow: Terraced (including end-terrace)
54:Flat, maisonette or apartment: Purpose-built block of flats or tenement
55:Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)
56:Flat, maisonette or apartment: In a commercial building
57:All categories: Occupation
58:1. Managers, directors and senior officials
59:2. Professional occupations
60:3. Associate professional and technical occupations
61:4. Administrative and secretarial occupations
62:5. Skilled trades occupations
63:6. Caring, leisure and other service occupations
64:7. Sales and customer service occupations
65:8. Process plant and machine operatives
66:9. Elementary occupations
67:All usual residents aged 16 to 74
68:Economically active
69:Economically Inactive
70:All_cat_qual_2011
71:Level_4_qual_2011
72:All_categories_NS_SeC_2011
73:X1_Higher_managerial_administrative_and_professional_occupations_2011
74:X2_Lower_managerial_administrative_and_professional_occupations_2011
75:X3_Intermediate_occupations_2011
76:X4_Small_employers_and_own_account_workers_2011
77:X5_Lower_supervisory_and_technical_occupations_2011
78:X6_Semi_routine_occupations_2011
79:X7_Routine_occupations_2011
80:X8_Never_worked_and_long_term_unemployed_2011
81:Not_classified_2011
82:pop_2011
83:Median_House_Prices_2011
84:Median_income_2011
85:Aged 4 and under_pct
86:Aged 5 to 9_pct
87:Aged 10 to 14_pct
88:Aged 15 to 19_pct
89:Aged 20 to 24_pct
90:Aged 25 to 29_pct
91:Aged 30 to 34_pct
92:Aged 35 to 39_pct
93:Aged 40 to 44_pct
94:Aged 45 to 49_pct
95:Aged 50 to 54_pct
96:Aged 55 to 59_pct
97:Aged 60 to 64_pct
98:Aged 65 to 69_pct
99:Aged 70 to 74_pct
100:Aged 75 to 79_pct
101:Aged 80 to 84_pct
102:Aged 85 and over_pct
103:One person household: Aged 65 and over_pct
104:One person household: Other_pct
105:One family only: All aged 65 and over_pct
106:One family only: Married or same-sex civil partnership couple: No children_pct
107:One family only: Married or same-sex civil partnership couple: Dependent children_pct
108:One family only: Married or same-sex civil partnership couple: All children non-dependent_pct
109:One family only: Cohabiting couple: No children_pct
110:One family only: Cohabiting couple: Dependent children_pct
111:One family only: Cohabiting couple: All children non-dependent_pct
112:One family only: Lone parent: Dependent children_pct
113:One family only: Lone parent: All children non-dependent_pct
114:Other household types: With dependent children_pct
115:All other types_pct
116:Occupancy rating (rooms) of -1 or less_pct
117:Does not have central heating_pct
118:Does have central heating_pct
119:Average household size
120:Average number of rooms per household
121:Owned: Owned outright_pct
122:Owned: Owned with a mortgage or loan_pct
123:Shared ownership (part owned and part rented)_pct
124:Social rented: Rented from council (Local Authority)_pct
125:Social rented: Other_pct
126:Private rented: Private landlord or letting agency_pct
127:Private rented: Other_pct
128:Household spaces with at least one usual resident_pct
129:Household spaces with no usual residents_pct
130:Whole house or bungalow: Detached_pct
131:Whole house or bungalow: Semi-detached_pct
132:Whole house or bungalow: Terraced (including end-terrace)_pct
133:Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct
134:Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct
135:Flat, maisonette or apartment: In a commercial building_pct
136:1. Managers, directors and senior officials_pct
137:2. Professional occupations_pct
138:3. Associate professional and technical occupations_pct
139:4. Administrative and secretarial occupations_pct
140:5. Skilled trades occupations_pct
141:6. Caring, leisure and other service occupations_pct
142:7. Sales and customer service occupations_pct
143:8. Process plant and machine operatives_pct
144:9. Elementary occupations_pct
145:Economically active_pct
146:Economically Inactive_pct
147:Level4_2011_pct
148:X1_Higher_managerial_administrative_and_professional_occupations_2011_pct
149:X2_Lower_managerial_administrative_and_professional_occupations_2011_pct
150:X3_Intermediate_occupations_2011_pct
151:X4_Small_employers_and_own_account_workers_2011_pct
152:X5_Lower_supervisory_and_technical_occupations_2011_pct
153:X6_Semi_routine_occupations_2011_pct
154:X7_Routine_occupations_2011_pct
155:X8_Never_worked_and_long_term_unemployed_2011_pct
156:Not_classified_2011_pct

In [50]:
# printing out 2011 columns and their index

for i in range(len(main_11.columns)):
    print(str(i) + ':' + str(main_11.columns[i]))

0:2011 census lower super output areas
1:2011 super output area - lower layer_x
2:Local_authority_name
3:All usual residents
4:Aged 4 and under
5:Aged 5 to 9
6:Aged 10 to 14
7:Aged 15 to 19
8:Aged 20 to 24
9:Aged 25 to 29
10:Aged 30 to 34
11:Aged 35 to 39
12:Aged 40 to 44
13:Aged 45 to 49
14:Aged 50 to 54
15:Aged 55 to 59
16:Aged 60 to 64
17:Aged 65 to 69
18:Aged 70 to 74
19:Aged 75 to 79
20:Aged 80 to 84
21:Aged 85 and over
22:All categories: Household composition
23:One person household: Aged 65 and over
24:One person household: Other
25:One family only: All aged 65 and over
26:One family only: Married or same-sex civil partnership couple: No children
27:One family only: Married or same-sex civil partnership couple: Dependent children
28:One family only: Married or same-sex civil partnership couple: All children non-dependent
29:One family only: Cohabiting couple: No children
30:One family only: Cohabiting couple: Dependent children
31:One family only: Cohabiting couple: All children non-dependent
32:One family only: Lone parent: Dependent children
33:One family only: Lone parent: All children non-dependent
34:Other household types: With dependent children
35:All other types
36:All categories: Type of central heating in household
37:Does not have central heating
38:Does have central heating
39:Occupancy rating (rooms) of -1 or less
40:All households
41:Owned: Owned outright
42:Owned: Owned with a mortgage or loan
43:Shared ownership (part owned and part rented)
44:Social rented: Rented from council (Local Authority)
45:Social rented: Other
46:Private rented: Private landlord or letting agency
47:Private rented: Other
48:All categories: Household spaces
49:Household spaces with at least one usual resident
50:Household spaces with no usual residents
51:Whole house or bungalow: Detached
52:Whole house or bungalow: Semi-detached
53:Whole house or bungalow: Terraced (including end-terrace)
54:Flat, maisonette or apartment: Purpose-built block of flats or tenement
55:Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)
56:Flat, maisonette or apartment: In a commercial building
57:All categories: Occupation
58:1. Managers, directors and senior officials
59:2. Professional occupations
60:3. Associate professional and technical occupations
61:4. Administrative and secretarial occupations
62:5. Skilled trades occupations
63:6. Caring, leisure and other service occupations
64:7. Sales and customer service occupations
65:8. Process plant and machine operatives
66:9. Elementary occupations
67:All usual residents aged 16 to 74
68:Economically active
69:Economically Inactive
70:All_cat_qual_2011
71:Level_4_qual_2011
72:All_categories_NS_SeC_2011
73:X1_Higher_managerial_administrative_and_professional_occupations_2011
74:X2_Lower_managerial_administrative_and_professional_occupations_2011
75:X3_Intermediate_occupations_2011
76:X4_Small_employers_and_own_account_workers_2011
77:X5_Lower_supervisory_and_technical_occupations_2011
78:X6_Semi_routine_occupations_2011
79:X7_Routine_occupations_2011
80:X8_Never_worked_and_long_term_unemployed_2011
81:Not_classified_2011
82:pop_2011
83:Median_House_Prices_2011
84:Median_income_2011
85:Aged 4 and under_pct
86:Aged 5 to 9_pct
87:Aged 10 to 14_pct
88:Aged 15 to 19_pct
89:Aged 20 to 24_pct
90:Aged 25 to 29_pct
91:Aged 30 to 34_pct
92:Aged 35 to 39_pct
93:Aged 40 to 44_pct
94:Aged 45 to 49_pct
95:Aged 50 to 54_pct
96:Aged 55 to 59_pct
97:Aged 60 to 64_pct
98:Aged 65 to 69_pct
99:Aged 70 to 74_pct
100:Aged 75 to 79_pct
101:Aged 80 to 84_pct
102:Aged 85 and over_pct
103:One person household: Aged 65 and over_pct
104:One person household: Other_pct
105:One family only: All aged 65 and over_pct
106:One family only: Married or same-sex civil partnership couple: No children_pct
107:One family only: Married or same-sex civil partnership couple: Dependent children_pct
108:One family only: Married or same-sex civil partnership couple: All children non-dependent_pct
109:One family only: Cohabiting couple: No children_pct
110:One family only: Cohabiting couple: Dependent children_pct
111:One family only: Cohabiting couple: All children non-dependent_pct
112:One family only: Lone parent: Dependent children_pct
113:One family only: Lone parent: All children non-dependent_pct
114:Other household types: With dependent children_pct
115:All other types_pct
116:Occupancy rating (rooms) of -1 or less_pct
117:Does not have central heating_pct
118:Does have central heating_pct
119:Average household size
120:Average number of rooms per household
121:Owned: Owned outright_pct
122:Owned: Owned with a mortgage or loan_pct
123:Shared ownership (part owned and part rented)_pct
124:Social rented: Rented from council (Local Authority)_pct
125:Social rented: Other_pct
126:Private rented: Private landlord or letting agency_pct
127:Private rented: Other_pct
128:Household spaces with at least one usual resident_pct
129:Household spaces with no usual residents_pct
130:Whole house or bungalow: Detached_pct
131:Whole house or bungalow: Semi-detached_pct
132:Whole house or bungalow: Terraced (including end-terrace)_pct
133:Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct
134:Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct
135:Flat, maisonette or apartment: In a commercial building_pct
136:1. Managers, directors and senior officials_pct
137:2. Professional occupations_pct
138:3. Associate professional and technical occupations_pct
139:4. Administrative and secretarial occupations_pct
140:5. Skilled trades occupations_pct
141:6. Caring, leisure and other service occupations_pct
142:7. Sales and customer service occupations_pct
143:8. Process plant and machine operatives_pct
144:9. Elementary occupations_pct
145:Economically active_pct
146:Economically Inactive_pct
147:Level4_2011_pct
148:X1_Higher_managerial_administrative_and_professional_occupations_2011_pct
149:X2_Lower_managerial_administrative_and_professional_occupations_2011_pct
150:X3_Intermediate_occupations_2011_pct
151:X4_Small_employers_and_own_account_workers_2011_pct
152:X5_Lower_supervisory_and_technical_occupations_2011_pct
153:X6_Semi_routine_occupations_2011_pct
154:X7_Routine_occupations_2011_pct
155:X8_Never_worked_and_long_term_unemployed_2011_pct
156:Not_classified_2011_pct

In [52]:
list(main_01.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'Local_authority_name',
 'All usual residents',
 'Aged 4 and under',
 'Aged 5 to 9',
 'Aged 10 to 14',
 'Aged 15 to 19',
 'Aged 20 to 24',
 'Aged 25 to 29',
 'Aged 30 to 34',
 'Aged 35 to 39',
 'Aged 40 to 44',
 'Aged 45 to 49',
 'Aged 50 to 54',
 'Aged 55 to 59',
 'Aged 60 to 64',
 'Aged 65 to 69',
 'Aged 70 to 74',
 'Aged 75 to 79',
 'Aged 80 to 84',
 'Aged 85 and over',
 'All categories: Household composition',
 'One person household: Aged 65 and over',
 'One person household: Other',
 'One family only: All aged 65 and over',
 'One family only: Married or same-sex civil partnership couple: No children',
 'One family only: Married or same-sex civil partnership couple: Dependent children',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent',
 'One family only: Cohabiting couple: No children',
 'One family only: Cohabiting couple: Dependent children',
 'One family only: Cohabiting couple: All children non-dependent',
 'One family only: Lone parent: Dependent children',
 'One family only: Lone parent: All children non-dependent',
 'Other household types: With dependent children',
 'All other types',
 'All categories: Type of central heating in household',
 'Does not have central heating',
 'Does have central heating',
 'Occupancy rating (rooms) of -1 or less',
 'All households',
 'Owned: Owned outright',
 'Owned: Owned with a mortgage or loan',
 'Shared ownership (part owned and part rented)',
 'Social rented: Rented from council (Local Authority)',
 'Social rented: Other',
 'Private rented: Private landlord or letting agency',
 'Private rented: Other',
 'All categories: Household spaces',
 'Household spaces with at least one usual resident',
 'Household spaces with no usual residents',
 'Whole house or bungalow: Detached',
 'Whole house or bungalow: Semi-detached',
 'Whole house or bungalow: Terraced (including end-terrace)',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)',
 'Flat, maisonette or apartment: In a commercial building',
 'All categories: Occupation',
 '1. Managers, directors and senior officials',
 '2. Professional occupations',
 '3. Associate professional and technical occupations',
 '4. Administrative and secretarial occupations',
 '5. Skilled trades occupations',
 '6. Caring, leisure and other service occupations',
 '7. Sales and customer service occupations',
 '8. Process plant and machine operatives',
 '9. Elementary occupations',
 'All usual residents aged 16 to 74',
 'Economically active',
 'Economically Inactive',
 'All_cat_qual_2011',
 'Level_4_qual_2011',
 'All_categories_NS_SeC_2011',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011',
 'X3_Intermediate_occupations_2011',
 'X4_Small_employers_and_own_account_workers_2011',
 'X5_Lower_supervisory_and_technical_occupations_2011',
 'X6_Semi_routine_occupations_2011',
 'X7_Routine_occupations_2011',
 'X8_Never_worked_and_long_term_unemployed_2011',
 'Not_classified_2011',
 'pop_2011',
 'Median_House_Prices_2011',
 'Median_income_2011',
 'Aged 4 and under_pct',
 'Aged 5 to 9_pct',
 'Aged 10 to 14_pct',
 'Aged 15 to 19_pct',
 'Aged 20 to 24_pct',
 'Aged 25 to 29_pct',
 'Aged 30 to 34_pct',
 'Aged 35 to 39_pct',
 'Aged 40 to 44_pct',
 'Aged 45 to 49_pct',
 'Aged 50 to 54_pct',
 'Aged 55 to 59_pct',
 'Aged 60 to 64_pct',
 'Aged 65 to 69_pct',
 'Aged 70 to 74_pct',
 'Aged 75 to 79_pct',
 'Aged 80 to 84_pct',
 'Aged 85 and over_pct',
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'All other types_pct',
 'Occupancy rating (rooms) of -1 or less_pct',
 'Does not have central heating_pct',
 'Does have central heating_pct',
 'Average household size',
 'Average number of rooms per household',
 'Owned: Owned outright_pct',
 'Owned: Owned with a mortgage or loan_pct',
 'Shared ownership (part owned and part rented)_pct',
 'Social rented: Rented from council (Local Authority)_pct',
 'Social rented: Other_pct',
 'Private rented: Private landlord or letting agency_pct',
 'Private rented: Other_pct',
 'Household spaces with at least one usual resident_pct',
 'Household spaces with no usual residents_pct',
 'Whole house or bungalow: Detached_pct',
 'Whole house or bungalow: Semi-detached_pct',
 'Whole house or bungalow: Terraced (including end-terrace)_pct',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct',
 'Flat, maisonette or apartment: In a commercial building_pct',
 '1. Managers, directors and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Caring, leisure and other service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'Economically Inactive_pct',
 'Level4_2011_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct',
 'X3_Intermediate_occupations_2011_pct',
 'X4_Small_employers_and_own_account_workers_2011_pct',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct',
 'X6_Semi_routine_occupations_2011_pct',
 'X7_Routine_occupations_2011_pct',
 'X8_Never_worked_and_long_term_unemployed_2011_pct',
 'Not_classified_2011_pct']

In [53]:
# printing out 2001 columns and their index

for i in range(len(main_01.columns)):
    print(str(i) + ':' + str(main_01.columns[i]))

0:2011 census lower super output areas
1:2011 super output area - lower layer_x
2:Local_authority_name
3:All usual residents
4:Aged 4 and under
5:Aged 5 to 9
6:Aged 10 to 14
7:Aged 15 to 19
8:Aged 20 to 24
9:Aged 25 to 29
10:Aged 30 to 34
11:Aged 35 to 39
12:Aged 40 to 44
13:Aged 45 to 49
14:Aged 50 to 54
15:Aged 55 to 59
16:Aged 60 to 64
17:Aged 65 to 69
18:Aged 70 to 74
19:Aged 75 to 79
20:Aged 80 to 84
21:Aged 85 and over
22:All categories: Household composition
23:One person household: Aged 65 and over
24:One person household: Other
25:One family only: All aged 65 and over
26:One family only: Married or same-sex civil partnership couple: No children
27:One family only: Married or same-sex civil partnership couple: Dependent children
28:One family only: Married or same-sex civil partnership couple: All children non-dependent
29:One family only: Cohabiting couple: No children
30:One family only: Cohabiting couple: Dependent children
31:One family only: Cohabiting couple: All children non-dependent
32:One family only: Lone parent: Dependent children
33:One family only: Lone parent: All children non-dependent
34:Other household types: With dependent children
35:All other types
36:All categories: Type of central heating in household
37:Does not have central heating
38:Does have central heating
39:Occupancy rating (rooms) of -1 or less
40:All households
41:Owned: Owned outright
42:Owned: Owned with a mortgage or loan
43:Shared ownership (part owned and part rented)
44:Social rented: Rented from council (Local Authority)
45:Social rented: Other
46:Private rented: Private landlord or letting agency
47:Private rented: Other
48:All categories: Household spaces
49:Household spaces with at least one usual resident
50:Household spaces with no usual residents
51:Whole house or bungalow: Detached
52:Whole house or bungalow: Semi-detached
53:Whole house or bungalow: Terraced (including end-terrace)
54:Flat, maisonette or apartment: Purpose-built block of flats or tenement
55:Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)
56:Flat, maisonette or apartment: In a commercial building
57:All categories: Occupation
58:1. Managers, directors and senior officials
59:2. Professional occupations
60:3. Associate professional and technical occupations
61:4. Administrative and secretarial occupations
62:5. Skilled trades occupations
63:6. Caring, leisure and other service occupations
64:7. Sales and customer service occupations
65:8. Process plant and machine operatives
66:9. Elementary occupations
67:All usual residents aged 16 to 74
68:Economically active
69:Economically Inactive
70:All_cat_qual_2011
71:Level_4_qual_2011
72:All_categories_NS_SeC_2011
73:X1_Higher_managerial_administrative_and_professional_occupations_2011
74:X2_Lower_managerial_administrative_and_professional_occupations_2011
75:X3_Intermediate_occupations_2011
76:X4_Small_employers_and_own_account_workers_2011
77:X5_Lower_supervisory_and_technical_occupations_2011
78:X6_Semi_routine_occupations_2011
79:X7_Routine_occupations_2011
80:X8_Never_worked_and_long_term_unemployed_2011
81:Not_classified_2011
82:pop_2011
83:Median_House_Prices_2011
84:Median_income_2011
85:Aged 4 and under_pct
86:Aged 5 to 9_pct
87:Aged 10 to 14_pct
88:Aged 15 to 19_pct
89:Aged 20 to 24_pct
90:Aged 25 to 29_pct
91:Aged 30 to 34_pct
92:Aged 35 to 39_pct
93:Aged 40 to 44_pct
94:Aged 45 to 49_pct
95:Aged 50 to 54_pct
96:Aged 55 to 59_pct
97:Aged 60 to 64_pct
98:Aged 65 to 69_pct
99:Aged 70 to 74_pct
100:Aged 75 to 79_pct
101:Aged 80 to 84_pct
102:Aged 85 and over_pct
103:One person household: Aged 65 and over_pct
104:One person household: Other_pct
105:One family only: All aged 65 and over_pct
106:One family only: Married or same-sex civil partnership couple: No children_pct
107:One family only: Married or same-sex civil partnership couple: Dependent children_pct
108:One family only: Married or same-sex civil partnership couple: All children non-dependent_pct
109:One family only: Cohabiting couple: No children_pct
110:One family only: Cohabiting couple: Dependent children_pct
111:One family only: Cohabiting couple: All children non-dependent_pct
112:One family only: Lone parent: Dependent children_pct
113:One family only: Lone parent: All children non-dependent_pct
114:Other household types: With dependent children_pct
115:All other types_pct
116:Occupancy rating (rooms) of -1 or less_pct
117:Does not have central heating_pct
118:Does have central heating_pct
119:Average household size
120:Average number of rooms per household
121:Owned: Owned outright_pct
122:Owned: Owned with a mortgage or loan_pct
123:Shared ownership (part owned and part rented)_pct
124:Social rented: Rented from council (Local Authority)_pct
125:Social rented: Other_pct
126:Private rented: Private landlord or letting agency_pct
127:Private rented: Other_pct
128:Household spaces with at least one usual resident_pct
129:Household spaces with no usual residents_pct
130:Whole house or bungalow: Detached_pct
131:Whole house or bungalow: Semi-detached_pct
132:Whole house or bungalow: Terraced (including end-terrace)_pct
133:Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct
134:Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct
135:Flat, maisonette or apartment: In a commercial building_pct
136:1. Managers, directors and senior officials_pct
137:2. Professional occupations_pct
138:3. Associate professional and technical occupations_pct
139:4. Administrative and secretarial occupations_pct
140:5. Skilled trades occupations_pct
141:6. Caring, leisure and other service occupations_pct
142:7. Sales and customer service occupations_pct
143:8. Process plant and machine operatives_pct
144:9. Elementary occupations_pct
145:Economically active_pct
146:Economically Inactive_pct
147:Level4_2011_pct
148:X1_Higher_managerial_administrative_and_professional_occupations_2011_pct
149:X2_Lower_managerial_administrative_and_professional_occupations_2011_pct
150:X3_Intermediate_occupations_2011_pct
151:X4_Small_employers_and_own_account_workers_2011_pct
152:X5_Lower_supervisory_and_technical_occupations_2011_pct
153:X6_Semi_routine_occupations_2011_pct
154:X7_Routine_occupations_2011_pct
155:X8_Never_worked_and_long_term_unemployed_2011_pct
156:Not_classified_2011_pct

In [54]:
# comparing column indexes of both datasets for consistency

for i in range(85,157):
    if main_01.columns[i] != main_11.columns[i]:
        print("To check: " + str(main_01.columns[i]) + " VS " + str(main_11.columns[i]))

In [55]:
# create a new dataframe 'change_var_df' to capture all change variables (changes between 2001 vs 2011 data), by working off main_01 as the base

change_var_df = main_01

In [56]:
# keep only LSOA identifiers

change_var_df = change_var_df.drop(columns=change_var_df.columns[3:157])

In [57]:
change_var_df.head()

,2011 census lower super output areas,2011 super output area - lower layer_x,Local_authority_name
0,E01000001,City of London 001A,City of London
1,E01000002,City of London 001B,City of London
2,E01000003,City of London 001C,City of London
3,E01000005,City of London 001E,City of London
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham

In [58]:
# compute the differences between pct variables of 2001 & 2011 datasets

# first, extract the variables which have yet to be standardised
array1=[82,83,84,119,120]

# for standardised pct variables, use a for loop to calculate their relative differences and populate change_var_df
for i in range(82,157):
    if i not in array1:
        change_var_df[str(main_11.columns[i])] = main_11[str(main_11.columns[i])] - main_01[str(main_01.columns[i])]  
    else:
        continue

In [34]:
change_var_df.head()

,2011 census lower super output areas,2011 super output area - lower layer,Local_authority_name,Age 0 to 4_pct,Age 5 to 7_pct,Age 8 to 9_pct,Age 10 to 14_pct,Age 15_pct,Age 16 to 17_pct,Age 18 to 19_pct,...,Level4_2011_pct,X1_Higher_managerial_administrative_and_professional_occupations_2011_pct,X2_Lower_managerial_administrative_and_professional_occupations_2011_pct,X3_Intermediate_occupations_2011_pct,X4_Small_employers_and_own_account_workers_2011_pct,X5_Lower_supervisory_and_technical_occupations_2011_pct,X6_Semi_routine_occupations_2011_pct,X7_Routine_occupations_2011_pct,X8_Never_worked_and_long_term_unemployed_2011_pct,Not_classified_2011_pct
0,E01000001,City of London 001A,City of London,0.97,0.55,0.34,-0.17,0.22,-0.40,-0.65,...,5.243539,3.87,6.84,1.77,1.15,0.14,0.58,-0.11,0.25,-14.46
1,E01000002,City of London 001B,City of London,0.91,1.14,-0.38,-0.29,0.29,0.36,0.16,...,10.837223,5.28,2.11,2.50,0.77,0.30,-0.77,0.27,-0.11,-10.35
2,E01000003,City of London 001C,City of London,-0.09,-0.85,-0.71,0.67,0.04,0.82,0.12,...,6.518597,3.29,4.69,-2.00,2.02,-0.03,-0.39,1.37,2.36,-11.29
3,E01000005,City of London 001E,City of London,-2.92,0.13,-0.66,-1.83,-0.17,-0.78,-0.04,...,3.146436,0.24,4.69,0.92,3.20,2.14,1.67,2.64,-0.69,-14.82
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,1.72,1.53,-0.10,-0.37,-0.40,-0.55,-1.17,...,10.425898,1.49,-3.70,-2.51,7.87,-1.49,0.55,0.88,5.13,-8.21

In [60]:
# compute the percentage change of non-standardised variables (difference between 2001 & 2011 figures divided by 2001 figure multiplied by 100)

# population
change_var_df["pop_chg"] = (main_11["pop_2011"] - main_01["pop_2011"]) / main_01["pop_2011"]*100

# median housing price
change_var_df["Median_House_Prices_chg"] = (main_11["Median_House_Prices_2011"] - main_01["Median_House_Prices_2011"]) / main_01["Median_House_Prices_2011"]*100

# median housing price
change_var_df["Median_income_chg"] = (main_11["Median_income_2011"] - main_01["Median_income_2011"]) / main_01["Median_income_2011"]*100

# compute the change of avg household and rooms per household variables (difference between 2001 & 2011 figures)

# Average household size
change_var_df["Average_household_size_chg"] = main_11["Average household size"] - main_01["Average household size"]

# Average number of rooms per household
change_var_df["Average_number_of_rooms_chg"] = main_11["Average number of rooms per household"] - main_01["Average number of rooms per household"]

In [61]:
change_var_df.head()

,2011 census lower super output areas,2011 super output area - lower layer_x,Local_authority_name,Aged 4 and under_pct,Aged 5 to 9_pct,Aged 10 to 14_pct,Aged 15 to 19_pct,Aged 20 to 24_pct,Aged 25 to 29_pct,Aged 30 to 34_pct,...,X5_Lower_supervisory_and_technical_occupations_2011_pct,X6_Semi_routine_occupations_2011_pct,X7_Routine_occupations_2011_pct,X8_Never_worked_and_long_term_unemployed_2011_pct,Not_classified_2011_pct,pop_chg,Median_House_Prices_chg,Median_income_chg,Average_household_size_chg,Average_number_of_rooms_chg
0,E01000001,City of London 001A,City of London,0.09,0.11,0.39,0.25,1.83,1.22,-1.42,...,-0.17,0.24,0.52,1.01,1.69,1.296928,64.864185,27.016178,0.060,-0.367
1,E01000002,City of London 001B,City of London,-1.72,-1.54,-0.50,0.22,4.45,5.60,1.90,...,-0.79,-0.61,0.02,2.31,1.74,-3.760446,53.947991,50.720965,-0.019,-0.794
2,E01000003,City of London 001C,City of London,-1.47,0.53,0.26,-3.93,0.16,0.86,0.24,...,-1.25,-1.50,0.22,0.17,-7.24,20.133730,71.548657,16.828593,0.085,-0.502
3,E01000005,City of London 001E,City of London,0.29,-2.08,-1.78,3.24,0.90,-3.65,2.63,...,-2.63,-2.35,2.16,3.36,6.32,11.472081,0.000000,4.182713,0.079,-0.496
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,-0.72,-0.25,0.11,1.82,-0.88,-5.61,-1.58,...,-0.27,-0.72,3.76,-0.19,-2.40,7.927187,75.537634,4.884817,0.206,-0.898

In [62]:
list(change_var_df.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'Local_authority_name',
 'Aged 4 and under_pct',
 'Aged 5 to 9_pct',
 'Aged 10 to 14_pct',
 'Aged 15 to 19_pct',
 'Aged 20 to 24_pct',
 'Aged 25 to 29_pct',
 'Aged 30 to 34_pct',
 'Aged 35 to 39_pct',
 'Aged 40 to 44_pct',
 'Aged 45 to 49_pct',
 'Aged 50 to 54_pct',
 'Aged 55 to 59_pct',
 'Aged 60 to 64_pct',
 'Aged 65 to 69_pct',
 'Aged 70 to 74_pct',
 'Aged 75 to 79_pct',
 'Aged 80 to 84_pct',
 'Aged 85 and over_pct',
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'All other types_pct',
 'Occupancy rating (rooms) of -1 or less_pct',
 'Does not have central heating_pct',
 'Does have central heating_pct',
 'Owned: Owned outright_pct',
 'Owned: Owned with a mortgage or loan_pct',
 'Shared ownership (part owned and part rented)_pct',
 'Social rented: Rented from council (Local Authority)_pct',
 'Social rented: Other_pct',
 'Private rented: Private landlord or letting agency_pct',
 'Private rented: Other_pct',
 'Household spaces with at least one usual resident_pct',
 'Household spaces with no usual residents_pct',
 'Whole house or bungalow: Detached_pct',
 'Whole house or bungalow: Semi-detached_pct',
 'Whole house or bungalow: Terraced (including end-terrace)_pct',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct',
 'Flat, maisonette or apartment: In a commercial building_pct',
 '1. Managers, directors and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Caring, leisure and other service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'Economically Inactive_pct',
 'Level4_2011_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct',
 'X3_Intermediate_occupations_2011_pct',
 'X4_Small_employers_and_own_account_workers_2011_pct',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct',
 'X6_Semi_routine_occupations_2011_pct',
 'X7_Routine_occupations_2011_pct',
 'X8_Never_worked_and_long_term_unemployed_2011_pct',
 'Not_classified_2011_pct',
 'pop_chg',
 'Median_House_Prices_chg',
 'Median_income_chg',
 'Average_household_size_chg',
 'Average_number_of_rooms_chg']

In [63]:
# rename feature columns accordingly

change_var_df = change_var_df.rename(columns={'Level4_2011_pct':"Level4_pct",
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct':"X1_Higher_managerial_administrative_and_professional_occupations_pct",
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct': "X2_Lower_managerial_administrative_and_professional_occupations_pct",
 'X3_Intermediate_occupations_2011_pct':"X3_Intermediate_occupations_pct",
 'X4_Small_employers_and_own_account_workers_2011_pct':'X4_Small_employers_and_own_account_workers_pct',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct':"X5_Lower_supervisory_and_technical_occupations_pct",
 'X6_Semi_routine_occupations_2011_pct':"X6_Semi_routine_occupations_pct",
 'X7_Routine_occupations_2011_pct':"X7_Routine_occupations_pct",
 'X8_Never_worked_and_long_term_unemployed_2011_pct':"X8_Never_worked_and_long_term_unemployed_pct",
 'Not_classified_2011_pct':"Not_classified_pct",})

In [64]:
# checkpoint - outputfiles

change_var_df.to_csv("change_var.csv")
main_01.to_csv("main_01_cleaned.csv")
main_11.to_csv("main_11_cleaned.csv")

## Merge Change Variables Dataframe with UDD Dataset

In [68]:
# checkpoint - reload the change variable dataframe
change_var_df = pd.read_csv("change_var.csv").drop(columns = ["Unnamed: 0"])

# read in UDD data
UDD_df = pd.read_csv("udd_joined_normalised.csv")

In [69]:
change_var_df.head()

,2011 census lower super output areas,2011 super output area - lower layer_x,Local_authority_name,Aged 4 and under_pct,Aged 5 to 9_pct,Aged 10 to 14_pct,Aged 15 to 19_pct,Aged 20 to 24_pct,Aged 25 to 29_pct,Aged 30 to 34_pct,...,X5_Lower_supervisory_and_technical_occupations_pct,X6_Semi_routine_occupations_pct,X7_Routine_occupations_pct,X8_Never_worked_and_long_term_unemployed_pct,Not_classified_pct,pop_chg,Median_House_Prices_chg,Median_income_chg,Average_household_size_chg,Average_number_of_rooms_chg
0,E01000001,City of London 001A,City of London,0.09,0.11,0.39,0.25,1.83,1.22,-1.42,...,-0.17,0.24,0.52,1.01,1.69,1.296928,64.864185,27.016178,0.060,-0.367
1,E01000002,City of London 001B,City of London,-1.72,-1.54,-0.50,0.22,4.45,5.60,1.90,...,-0.79,-0.61,0.02,2.31,1.74,-3.760446,53.947991,50.720965,-0.019,-0.794
2,E01000003,City of London 001C,City of London,-1.47,0.53,0.26,-3.93,0.16,0.86,0.24,...,-1.25,-1.50,0.22,0.17,-7.24,20.133730,71.548657,16.828593,0.085,-0.502
3,E01000005,City of London 001E,City of London,0.29,-2.08,-1.78,3.24,0.90,-3.65,2.63,...,-2.63,-2.35,2.16,3.36,6.32,11.472081,0.000000,4.182713,0.079,-0.496
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,-0.72,-0.25,0.11,1.82,-0.88,-5.61,-1.58,...,-0.27,-0.72,3.76,-0.19,-2.40,7.927187,75.537634,4.884817,0.206,-0.898

In [70]:
UDD_df.head()

,2011 census lower super output areas,2011 super output area - lower layer,dwellings_2001,dwellings_2006,conversion_counts,conversion_rates,newbuilt_counts,newbuilt_rates
0,E01000001,City of London 001A,1012.0,1034.0,3.0,2.90135,0.0,0.00000
1,E01000002,City of London 001B,975.0,1350.0,3.0,2.22222,2.0,1.48148
2,E01000003,City of London 001C,886.0,960.0,2.0,2.08333,0.0,0.00000
3,E01000005,City of London 001E,528.0,559.0,0.0,0.00000,5.0,8.94454
4,E01000006,Barking and Dagenham 016A,558.0,559.0,4.0,7.15564,1.0,1.78891

In [71]:
# merge both datasets

cluster_prep_df = change_var_df.merge(UDD_df[["2011 census lower super output areas","conversion_rates","newbuilt_rates"]], left_on = "2011 census lower super output areas", right_on="2011 census lower super output areas", how = "left")

In [72]:
cluster_prep_df.head()

,2011 census lower super output areas,2011 super output area - lower layer_x,Local_authority_name,Aged 4 and under_pct,Aged 5 to 9_pct,Aged 10 to 14_pct,Aged 15 to 19_pct,Aged 20 to 24_pct,Aged 25 to 29_pct,Aged 30 to 34_pct,...,X7_Routine_occupations_pct,X8_Never_worked_and_long_term_unemployed_pct,Not_classified_pct,pop_chg,Median_House_Prices_chg,Median_income_chg,Average_household_size_chg,Average_number_of_rooms_chg,conversion_rates,newbuilt_rates
0,E01000001,City of London 001A,City of London,0.09,0.11,0.39,0.25,1.83,1.22,-1.42,...,0.52,1.01,1.69,1.296928,64.864185,27.016178,0.060,-0.367,2.90135,0.00000
1,E01000002,City of London 001B,City of London,-1.72,-1.54,-0.50,0.22,4.45,5.60,1.90,...,0.02,2.31,1.74,-3.760446,53.947991,50.720965,-0.019,-0.794,2.22222,1.48148
2,E01000003,City of London 001C,City of London,-1.47,0.53,0.26,-3.93,0.16,0.86,0.24,...,0.22,0.17,-7.24,20.133730,71.548657,16.828593,0.085,-0.502,2.08333,0.00000
3,E01000005,City of London 001E,City of London,0.29,-2.08,-1.78,3.24,0.90,-3.65,2.63,...,2.16,3.36,6.32,11.472081,0.000000,4.182713,0.079,-0.496,0.00000,8.94454
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,-0.72,-0.25,0.11,1.82,-0.88,-5.61,-1.58,...,3.76,-0.19,-2.40,7.927187,75.537634,4.884817,0.206,-0.898,7.15564,1.78891

## Merge Dataframe with Population Churn Dataset

In [73]:
# read in population churn data

churn_data = pd.read_csv('CDRC Population Churn_LON.csv')

In [74]:
# merge both datasets

cluster_prep_df = cluster_prep_df.merge(churn_data[["LSOA11CD","avg_churn_01_10"]], left_on = "2011 census lower super output areas", right_on="LSOA11CD", how = "left")

In [75]:
# drop duplicate features

cluster_prep_df = cluster_prep_df.drop(columns="LSOA11CD")

In [76]:
# checkpoint - output this file
cluster_prep_df.to_csv("change_var_UDD_churn.csv")

## Segment Dataframe into 2 Sets - one for clustering ascending LSOAs and the other for clustering gentrfying LSOAs

### Inputs for Clustering Ascending LSOAs

In [49]:
# Data required for clustering ascending LSOAs include:
# population change variables
# demographic change variables
# urban development variables
# ageing LSOA (2001) status variable

In [77]:
# get the enumerated list of features in dataframe

for i in range(len(cluster_prep_df.columns)):
    print(str(i) + ": " + str(cluster_prep_df.columns[i]))

0: 2011 census lower super output areas
1: 2011 super output area - lower layer_x
2: Local_authority_name
3: Aged 4 and under_pct
4: Aged 5 to 9_pct
5: Aged 10 to 14_pct
6: Aged 15 to 19_pct
7: Aged 20 to 24_pct
8: Aged 25 to 29_pct
9: Aged 30 to 34_pct
10: Aged 35 to 39_pct
11: Aged 40 to 44_pct
12: Aged 45 to 49_pct
13: Aged 50 to 54_pct
14: Aged 55 to 59_pct
15: Aged 60 to 64_pct
16: Aged 65 to 69_pct
17: Aged 70 to 74_pct
18: Aged 75 to 79_pct
19: Aged 80 to 84_pct
20: Aged 85 and over_pct
21: One person household: Aged 65 and over_pct
22: One person household: Other_pct
23: One family only: All aged 65 and over_pct
24: One family only: Married or same-sex civil partnership couple: No children_pct
25: One family only: Married or same-sex civil partnership couple: Dependent children_pct
26: One family only: Married or same-sex civil partnership couple: All children non-dependent_pct
27: One family only: Cohabiting couple: No children_pct
28: One family only: Cohabiting couple: Dependent children_pct
29: One family only: Cohabiting couple: All children non-dependent_pct
30: One family only: Lone parent: Dependent children_pct
31: One family only: Lone parent: All children non-dependent_pct
32: Other household types: With dependent children_pct
33: All other types_pct
34: Occupancy rating (rooms) of -1 or less_pct
35: Does not have central heating_pct
36: Does have central heating_pct
37: Owned: Owned outright_pct
38: Owned: Owned with a mortgage or loan_pct
39: Shared ownership (part owned and part rented)_pct
40: Social rented: Rented from council (Local Authority)_pct
41: Social rented: Other_pct
42: Private rented: Private landlord or letting agency_pct
43: Private rented: Other_pct
44: Household spaces with at least one usual resident_pct
45: Household spaces with no usual residents_pct
46: Whole house or bungalow: Detached_pct
47: Whole house or bungalow: Semi-detached_pct
48: Whole house or bungalow: Terraced (including end-terrace)_pct
49: Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct
50: Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct
51: Flat, maisonette or apartment: In a commercial building_pct
52: 1. Managers, directors and senior officials_pct
53: 2. Professional occupations_pct
54: 3. Associate professional and technical occupations_pct
55: 4. Administrative and secretarial occupations_pct
56: 5. Skilled trades occupations_pct
57: 6. Caring, leisure and other service occupations_pct
58: 7. Sales and customer service occupations_pct
59: 8. Process plant and machine operatives_pct
60: 9. Elementary occupations_pct
61: Economically active_pct
62: Economically Inactive_pct
63: Level4_pct
64: X1_Higher_managerial_administrative_and_professional_occupations_pct
65: X2_Lower_managerial_administrative_and_professional_occupations_pct
66: X3_Intermediate_occupations_pct
67: X4_Small_employers_and_own_account_workers_pct
68: X5_Lower_supervisory_and_technical_occupations_pct
69: X6_Semi_routine_occupations_pct
70: X7_Routine_occupations_pct
71: X8_Never_worked_and_long_term_unemployed_pct
72: Not_classified_pct
73: pop_chg
74: Median_House_Prices_chg
75: Median_income_chg
76: Average_household_size_chg
77: Average_number_of_rooms_chg
78: conversion_rates
79: newbuilt_rates
80: avg_churn_01_10

In [78]:
import numpy as np

# selecting relevant column numbers for clustering ascending LSOAs
var1 = 0
var2 = range(3,33)
var3 = range(78,81)

array_cluster_1 = np.concatenate((var1,var2,var3), axis=None)

In [79]:
# appending relevant features into new dataframe 'cluster_1' meant as inputs for undertaking the clustering of ascending LSOAs

cluster_1 = pd.DataFrame()

for i in array_cluster_1:
    cluster_1[str(cluster_prep_df.columns[i])] = cluster_prep_df[cluster_prep_df.columns[i]]

In [80]:
# verify the features

for i in range(len(cluster_1.columns)):
    print(str(i) + ": " + str(cluster_1.columns[i]))

0: 2011 census lower super output areas
1: Aged 4 and under_pct
2: Aged 5 to 9_pct
3: Aged 10 to 14_pct
4: Aged 15 to 19_pct
5: Aged 20 to 24_pct
6: Aged 25 to 29_pct
7: Aged 30 to 34_pct
8: Aged 35 to 39_pct
9: Aged 40 to 44_pct
10: Aged 45 to 49_pct
11: Aged 50 to 54_pct
12: Aged 55 to 59_pct
13: Aged 60 to 64_pct
14: Aged 65 to 69_pct
15: Aged 70 to 74_pct
16: Aged 75 to 79_pct
17: Aged 80 to 84_pct
18: Aged 85 and over_pct
19: One person household: Aged 65 and over_pct
20: One person household: Other_pct
21: One family only: All aged 65 and over_pct
22: One family only: Married or same-sex civil partnership couple: No children_pct
23: One family only: Married or same-sex civil partnership couple: Dependent children_pct
24: One family only: Married or same-sex civil partnership couple: All children non-dependent_pct
25: One family only: Cohabiting couple: No children_pct
26: One family only: Cohabiting couple: Dependent children_pct
27: One family only: Cohabiting couple: All children non-dependent_pct
28: One family only: Lone parent: Dependent children_pct
29: One family only: Lone parent: All children non-dependent_pct
30: Other household types: With dependent children_pct
31: conversion_rates
32: newbuilt_rates
33: avg_churn_01_10

In [81]:
# aggregating demographic groups into smaller, useful categories -> proportion of residents above and under 65 years old

cluster_1["youngPop_chg"] = cluster_1[cluster_1.columns[1:13]].sum(axis=1)
cluster_1["agePop_chg"] = cluster_1[cluster_1.columns[13:17]].sum(axis=1)

In [82]:
# dropping columns which have been aggregated

cluster_1 = cluster_1.drop(cluster_1.columns[1:17], axis=1)

In [83]:
# check dataframe

for i in range(len(cluster_1.columns)):
    print(str(i) + ": " + str(cluster_1.columns[i]))

0: 2011 census lower super output areas
1: Aged 80 to 84_pct
2: Aged 85 and over_pct
3: One person household: Aged 65 and over_pct
4: One person household: Other_pct
5: One family only: All aged 65 and over_pct
6: One family only: Married or same-sex civil partnership couple: No children_pct
7: One family only: Married or same-sex civil partnership couple: Dependent children_pct
8: One family only: Married or same-sex civil partnership couple: All children non-dependent_pct
9: One family only: Cohabiting couple: No children_pct
10: One family only: Cohabiting couple: Dependent children_pct
11: One family only: Cohabiting couple: All children non-dependent_pct
12: One family only: Lone parent: Dependent children_pct
13: One family only: Lone parent: All children non-dependent_pct
14: Other household types: With dependent children_pct
15: conversion_rates
16: newbuilt_rates
17: avg_churn_01_10
18: youngPop_chg
19: agePop_chg

In [85]:
# aggregating household composition into smaller, useful categories -> ageing households, family with / without dependent kids, no kids, etc.

cluster_1["hse_age_chg"] = cluster_1["One person household: Aged 65 and over_pct"] + cluster_1["One family only: All aged 65 and over_pct"]
cluster_1["hse_noKids_chg"] = cluster_1["One family only: Married or same-sex civil partnership couple: No children_pct"] + cluster_1["One family only: Cohabiting couple: No children_pct"]
cluster_1["hse_depKids_chg"] = cluster_1["One family only: Married or same-sex civil partnership couple: Dependent children_pct"] + cluster_1["One family only: Cohabiting couple: Dependent children_pct"] + cluster_1["One family only: Lone parent: Dependent children_pct"] + cluster_1["Other household types: With dependent children_pct"]
cluster_1["hse_noDepKids_chg"] = cluster_1["One family only: Married or same-sex civil partnership couple: All children non-dependent_pct"] + cluster_1["One family only: Cohabiting couple: All children non-dependent_pct"] + cluster_1["One family only: Lone parent: All children non-dependent_pct"]

In [86]:
# dropping columns which have been aggregated

cluster_1 = cluster_1.drop(cluster_1.columns[1:15], axis=1)

In [87]:
for i in range(len(cluster_1.columns)):
    print(str(i) + ": " + str(cluster_1.columns[i]))

0: 2011 census lower super output areas
1: conversion_rates
2: newbuilt_rates
3: avg_churn_01_10
4: youngPop_chg
5: agePop_chg
6: hse_age_chg
7: hse_noKids_chg
8: hse_depKids_chg
9: hse_noDepKids_chg

In [88]:
# aggregating ageing population % and putting result under a new column in the cluster_1 dataset

cluster_1["agePop_01"] = main_01["Aged 65 to 69_pct"] + main_01["Aged 70 to 74_pct"] + main_01["Aged 75 to 79_pct"] + main_01["Aged 80 to 84_pct"]+ main_01["Aged 85 and over_pct"]

In [89]:
cluster_1.head()

,2011 census lower super output areas,conversion_rates,newbuilt_rates,avg_churn_01_10,youngPop_chg,agePop_chg,hse_age_chg,hse_noKids_chg,hse_depKids_chg,hse_noDepKids_chg,agePop_01
0,E01000001,2.90135,0.00000,0.4534,-3.69,2.15,5.51,2.20,1.82,-1.05,18.29
1,E01000002,2.22222,1.48148,0.4868,0.34,-1.65,-0.15,-0.27,-4.48,0.72,18.74
2,E01000003,2.08333,0.00000,0.3947,-0.24,3.43,-4.24,5.92,-2.79,0.70,18.87
3,E01000005,0.00000,8.94454,0.3819,1.87,-2.20,-3.50,1.43,0.07,3.19,12.89
4,E01000006,7.15564,1.78891,0.3633,-1.15,1.41,0.83,-4.68,5.37,1.53,7.80

In [90]:
# rename features

cluster_1 = cluster_1.rename(columns={
    "2011 census lower super output areas":"LSOA11CD",
    "conversion_rates":"conv_rates",
    "newbuilt_rates": "newblt_rates"})

In [91]:
# checkpoint - output file
cluster_1.to_csv("cluster_1_data.csv")

### Inputs for Clustering Ascending LSOAs

In [64]:
# # Data required for clustering gentrifying LSOAs include:
# socio-economic change variables
# housing price change variables
# tenure change variables
# median income (2001) status variable
# median house price (2001) status variable

In [92]:
# again, obtain the enumerated list of variables

for i in range(len(cluster_prep_df.columns)):
    print(str(i) + ": " + str(cluster_prep_df.columns[i]))

0: 2011 census lower super output areas
1: 2011 super output area - lower layer_x
2: Local_authority_name
3: Aged 4 and under_pct
4: Aged 5 to 9_pct
5: Aged 10 to 14_pct
6: Aged 15 to 19_pct
7: Aged 20 to 24_pct
8: Aged 25 to 29_pct
9: Aged 30 to 34_pct
10: Aged 35 to 39_pct
11: Aged 40 to 44_pct
12: Aged 45 to 49_pct
13: Aged 50 to 54_pct
14: Aged 55 to 59_pct
15: Aged 60 to 64_pct
16: Aged 65 to 69_pct
17: Aged 70 to 74_pct
18: Aged 75 to 79_pct
19: Aged 80 to 84_pct
20: Aged 85 and over_pct
21: One person household: Aged 65 and over_pct
22: One person household: Other_pct
23: One family only: All aged 65 and over_pct
24: One family only: Married or same-sex civil partnership couple: No children_pct
25: One family only: Married or same-sex civil partnership couple: Dependent children_pct
26: One family only: Married or same-sex civil partnership couple: All children non-dependent_pct
27: One family only: Cohabiting couple: No children_pct
28: One family only: Cohabiting couple: Dependent children_pct
29: One family only: Cohabiting couple: All children non-dependent_pct
30: One family only: Lone parent: Dependent children_pct
31: One family only: Lone parent: All children non-dependent_pct
32: Other household types: With dependent children_pct
33: All other types_pct
34: Occupancy rating (rooms) of -1 or less_pct
35: Does not have central heating_pct
36: Does have central heating_pct
37: Owned: Owned outright_pct
38: Owned: Owned with a mortgage or loan_pct
39: Shared ownership (part owned and part rented)_pct
40: Social rented: Rented from council (Local Authority)_pct
41: Social rented: Other_pct
42: Private rented: Private landlord or letting agency_pct
43: Private rented: Other_pct
44: Household spaces with at least one usual resident_pct
45: Household spaces with no usual residents_pct
46: Whole house or bungalow: Detached_pct
47: Whole house or bungalow: Semi-detached_pct
48: Whole house or bungalow: Terraced (including end-terrace)_pct
49: Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct
50: Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct
51: Flat, maisonette or apartment: In a commercial building_pct
52: 1. Managers, directors and senior officials_pct
53: 2. Professional occupations_pct
54: 3. Associate professional and technical occupations_pct
55: 4. Administrative and secretarial occupations_pct
56: 5. Skilled trades occupations_pct
57: 6. Caring, leisure and other service occupations_pct
58: 7. Sales and customer service occupations_pct
59: 8. Process plant and machine operatives_pct
60: 9. Elementary occupations_pct
61: Economically active_pct
62: Economically Inactive_pct
63: Level4_pct
64: X1_Higher_managerial_administrative_and_professional_occupations_pct
65: X2_Lower_managerial_administrative_and_professional_occupations_pct
66: X3_Intermediate_occupations_pct
67: X4_Small_employers_and_own_account_workers_pct
68: X5_Lower_supervisory_and_technical_occupations_pct
69: X6_Semi_routine_occupations_pct
70: X7_Routine_occupations_pct
71: X8_Never_worked_and_long_term_unemployed_pct
72: Not_classified_pct
73: pop_chg
74: Median_House_Prices_chg
75: Median_income_chg
76: Average_household_size_chg
77: Average_number_of_rooms_chg
78: conversion_rates
79: newbuilt_rates
80: avg_churn_01_10

In [93]:
import numpy as np

#selecting relevant column numbers for level 2 clustering
var5 = 0
var6 = range(37,44)
var7 = range(64,71)
var8 = 74,75

array_cluster_2 = np.concatenate((var5,var6,var7,var8), axis=None)

In [94]:
# appending relevant features into new dataframe 'cluster_2' meant as inputs for undertaking the clustering of gentrifying LSOAs

cluster_2 = pd.DataFrame()

for i in array_cluster_2:
    cluster_2[str(cluster_prep_df.columns[i])] = cluster_prep_df[cluster_prep_df.columns[i]]

In [95]:
for i in range(len(cluster_2.columns)):
    print(str(i) + ": " + str(cluster_2.columns[i]))

0: 2011 census lower super output areas
1: Owned: Owned outright_pct
2: Owned: Owned with a mortgage or loan_pct
3: Shared ownership (part owned and part rented)_pct
4: Social rented: Rented from council (Local Authority)_pct
5: Social rented: Other_pct
6: Private rented: Private landlord or letting agency_pct
7: Private rented: Other_pct
8: X1_Higher_managerial_administrative_and_professional_occupations_pct
9: X2_Lower_managerial_administrative_and_professional_occupations_pct
10: X3_Intermediate_occupations_pct
11: X4_Small_employers_and_own_account_workers_pct
12: X5_Lower_supervisory_and_technical_occupations_pct
13: X6_Semi_routine_occupations_pct
14: X7_Routine_occupations_pct
15: Median_House_Prices_chg
16: Median_income_chg

In [96]:
cluster_2.head()

,2011 census lower super output areas,Owned: Owned outright_pct,Owned: Owned with a mortgage or loan_pct,Shared ownership (part owned and part rented)_pct,Social rented: Rented from council (Local Authority)_pct,Social rented: Other_pct,Private rented: Private landlord or letting agency_pct,Private rented: Other_pct,X1_Higher_managerial_administrative_and_professional_occupations_pct,X2_Lower_managerial_administrative_and_professional_occupations_pct,X3_Intermediate_occupations_pct,X4_Small_employers_and_own_account_workers_pct,X5_Lower_supervisory_and_technical_occupations_pct,X6_Semi_routine_occupations_pct,X7_Routine_occupations_pct,Median_House_Prices_chg,Median_income_chg
0,E01000001,-0.44,-3.24,0.02,-1.75,-0.44,5.37,4.35,2.31,-8.08,-0.67,3.13,-0.17,0.24,0.52,64.864185,27.016178
1,E01000002,-3.53,-7.60,-0.72,-2.51,0.25,14.45,3.04,5.15,-5.28,-2.72,0.19,-0.79,-0.61,0.02,53.947991,50.720965
2,E01000003,0.34,-3.21,-0.12,-4.72,-1.73,8.55,2.79,8.30,-0.82,-0.44,2.54,-1.25,-1.50,0.22,71.548657,16.828593
3,E01000005,-1.20,-0.15,0.21,2.23,0.26,-0.82,1.18,3.34,-7.61,-2.85,0.26,-2.63,-2.35,2.16,0.000000,4.182713
4,E01000006,-5.41,-9.84,0.54,0.13,1.05,11.24,2.65,-0.43,-2.69,-0.58,3.52,-0.27,-0.72,3.76,75.537634,4.884817

In [97]:
# aggregating detailed tenure groups into simplified categories

cluster_2["owned_chg"] = cluster_2["Owned: Owned outright_pct"] + cluster_2["Owned: Owned with a mortgage or loan_pct"]
cluster_2["socRent_chg"] = cluster_2["Social rented: Rented from council (Local Authority)_pct"] + cluster_2["Social rented: Other_pct"]
cluster_2["pteRent_chg"] = cluster_2["Private rented: Private landlord or letting agency_pct"] + cluster_2["Private rented: Other_pct"]

In [98]:
# dropping columns which have been aggregated

cluster_2 = cluster_2.drop(cluster_2.columns[1:8], axis=1)

In [99]:
cluster_2.head()

,2011 census lower super output areas,X1_Higher_managerial_administrative_and_professional_occupations_pct,X2_Lower_managerial_administrative_and_professional_occupations_pct,X3_Intermediate_occupations_pct,X4_Small_employers_and_own_account_workers_pct,X5_Lower_supervisory_and_technical_occupations_pct,X6_Semi_routine_occupations_pct,X7_Routine_occupations_pct,Median_House_Prices_chg,Median_income_chg,owned_chg,socRent_chg,pteRent_chg
0,E01000001,2.31,-8.08,-0.67,3.13,-0.17,0.24,0.52,64.864185,27.016178,-3.68,-2.19,9.72
1,E01000002,5.15,-5.28,-2.72,0.19,-0.79,-0.61,0.02,53.947991,50.720965,-11.13,-2.26,17.49
2,E01000003,8.30,-0.82,-0.44,2.54,-1.25,-1.50,0.22,71.548657,16.828593,-2.87,-6.45,11.34
3,E01000005,3.34,-7.61,-2.85,0.26,-2.63,-2.35,2.16,0.000000,4.182713,-1.35,2.49,0.36
4,E01000006,-0.43,-2.69,-0.58,3.52,-0.27,-0.72,3.76,75.537634,4.884817,-15.25,1.18,13.89

In [101]:
# for status variables - need to obtain from earlier main_01 dataset
# also, divding the figures by 1000 as they are very large

cluster_2["inc_01"]=main_01["Median_income_2011"]/1000
cluster_2["hseP_01"]=main_01["Median_House_Prices_2011"]/1000

In [102]:
cluster_2.head()

,2011 census lower super output areas,X1_Higher_managerial_administrative_and_professional_occupations_pct,X2_Lower_managerial_administrative_and_professional_occupations_pct,X3_Intermediate_occupations_pct,X4_Small_employers_and_own_account_workers_pct,X5_Lower_supervisory_and_technical_occupations_pct,X6_Semi_routine_occupations_pct,X7_Routine_occupations_pct,Median_House_Prices_chg,Median_income_chg,owned_chg,socRent_chg,pteRent_chg,inc_01,hseP_01
0,E01000001,2.31,-8.08,-0.67,3.13,-0.17,0.24,0.52,64.864185,27.016178,-3.68,-2.19,9.72,65.52,497.00
1,E01000002,5.15,-5.28,-2.72,0.19,-0.79,-0.61,0.02,53.947991,50.720965,-11.13,-2.26,17.49,66.30,528.75
2,E01000003,8.30,-0.82,-0.44,2.54,-1.25,-1.50,0.22,71.548657,16.828593,-2.87,-6.45,11.34,54.14,335.00
3,E01000005,3.34,-7.61,-2.85,0.26,-2.63,-2.35,2.16,0.000000,4.182713,-1.35,2.49,0.36,46.74,300.00
4,E01000006,-0.43,-2.69,-0.58,3.52,-0.27,-0.72,3.76,75.537634,4.884817,-15.25,1.18,13.89,38.20,232.50

In [103]:
# rename features

cluster_2 = cluster_2.rename(columns={
    "2011 census lower super output areas":"LSOA11CD",
    "X1_Higher_managerial_administrative_and_professional_occupations_pct": "SEC1_chg",
    "X2_Lower_managerial_administrative_and_professional_occupations_pct": "SEC2_chg",
    "X3_Intermediate_occupations_pct": "SEC3_chg",
    "X4_Small_employers_and_own_account_workers_pct": "SEC4_chg",
    "X5_Lower_supervisory_and_technical_occupations_pct": "SEC5_chg",
    "X6_Semi_routine_occupations_pct": "SEC6_chg",
    "X7_Routine_occupations_pct":"SEC7_chg",
    "Median_House_Prices_chg": "hseP_chg",
    "Median_income_chg": "inc_chg"
})

In [104]:
cluster_2.head()

,LSOA11CD,SEC1_chg,SEC2_chg,SEC3_chg,SEC4_chg,SEC5_chg,SEC6_chg,SEC7_chg,hseP_chg,inc_chg,owned_chg,socRent_chg,pteRent_chg,inc_01,hseP_01
0,E01000001,2.31,-8.08,-0.67,3.13,-0.17,0.24,0.52,64.864185,27.016178,-3.68,-2.19,9.72,65.52,497.00
1,E01000002,5.15,-5.28,-2.72,0.19,-0.79,-0.61,0.02,53.947991,50.720965,-11.13,-2.26,17.49,66.30,528.75
2,E01000003,8.30,-0.82,-0.44,2.54,-1.25,-1.50,0.22,71.548657,16.828593,-2.87,-6.45,11.34,54.14,335.00
3,E01000005,3.34,-7.61,-2.85,0.26,-2.63,-2.35,2.16,0.000000,4.182713,-1.35,2.49,0.36,46.74,300.00
4,E01000006,-0.43,-2.69,-0.58,3.52,-0.27,-0.72,3.76,75.537634,4.884817,-15.25,1.18,13.89,38.20,232.50

In [106]:
# checkpoint - outputfile
cluster_2.to_csv("cluster_2_data.csv")