In [1]:
import pandas as pd

In [15]:
# read in relevant datasets

main_01 = pd.read_csv("main_01_cleaned_ml.csv")
main_11 = pd.read_csv("main_11_cleaned_ml.csv")

In [3]:
main_01.head()

,2011 census lower super output areas,2011 super output area - lower layer_x,Local_authority_name,Pop_2001,Median_House_Prices_2001,Median_income_2001,Aged 4 and under_pct,Aged 5 to 9_pct,Aged 10 to 14_pct,Aged 15 to 19_pct,...,No cars or vans in household,1 car or van in household,2 cars or vans in household,3 cars or vans in household,4 or more cars or vans in household,Pop Density 2001,dwellings_2001,Median House Price-2010,House_sales_pct,avg_churn_01_10
0,E01000001,City of London 001A,City of London,1465,497000,65520,3.41,2.25,1.77,1.30,...,59.2,32.5,6.1,1.7,0.5,112.9,1012,975000.0,4.034914,0.4534
1,E01000002,City of London 001B,City of London,1436,528750,66300,4.18,3.20,2.09,1.95,...,58.0,35.3,4.6,1.6,0.6,62.9,975,837500.0,9.641026,0.4868
2,E01000003,City of London 001C,City of London,1346,335000,54140,3.94,1.63,1.78,5.35,...,80.2,18.1,1.3,0.2,0.1,227.7,886,710000.0,2.990971,0.3947
3,E01000005,City of London 001E,City of London,985,300000,46740,4.26,6.09,4.97,4.87,...,76.2,21.4,1.9,0.4,0.0,52.0,528,618000.0,1.704545,0.3819
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,1703,232500,38200,9.04,7.16,5.87,4.87,...,34.3,45.9,16.0,2.6,1.3,116.2,558,405000.0,3.166069,0.3633

In [16]:
main_11.head()

,2011 census lower super output areas,2011 super output area - lower layer_x,Local_authority_name,Pop_2001,Median_House_Prices_2001,Median_income_2001,Aged 4 and under_pct,Aged 5 to 9_pct,Aged 10 to 14_pct,Aged 15 to 19_pct,...,No cars or vans in household,1 car or van in household,2 cars or vans in household,3 cars or vans in household,4 or more cars or vans in household,Pop Density 2001,dwellings_2001,Median House Price-2010,House_sales_pct,avg_churn_01_10
0,E01000001,City of London 001A,City of London,1484,819375,83221,3.50,2.36,2.16,1.55,...,1.92,3.99,6.36,83.22,1.18,19.34,1034,845500.0,4.03,0.23325
1,E01000002,City of London 001B,City of London,1382,814000,99928,2.46,1.66,1.59,2.17,...,2.15,4.00,6.85,83.54,1.38,10.26,1350,833750.0,9.64,0.29325
2,E01000003,City of London 001C,City of London,1617,574688,63251,2.47,2.16,2.04,1.42,...,4.05,5.98,8.04,70.10,2.26,19.06,960,542500.0,2.99,0.20250
3,E01000005,City of London 001E,City of London,1098,300000,48695,4.55,4.01,3.19,8.11,...,6.37,12.73,13.57,40.40,3.03,21.96,559,140125.0,1.70,0.20925
4,E01000006,Barking and Dagenham 016A,Barking and Dagenham,1838,408125,40066,8.32,6.91,5.98,6.69,...,10.85,11.90,14.42,34.92,4.62,7.93,559,252375.0,3.17,0.16425

### Prep 2001 Datasets

In [5]:
# print feature column names

list(main_01.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'Local_authority_name',
 'Pop_2001',
 'Median_House_Prices_2001',
 'Median_income_2001',
 'Aged 4 and under_pct',
 'Aged 5 to 9_pct',
 'Aged 10 to 14_pct',
 'Aged 15 to 19_pct',
 'Aged 20 to 24_pct',
 'Aged 25 to 29_pct',
 'Aged 30 to 34_pct',
 'Aged 35 to 39_pct',
 'Aged 40 to 44_pct',
 'Aged 45 to 49_pct',
 'Aged 50 to 54_pct',
 'Aged 55 to 59_pct',
 'Aged 60 to 64_pct',
 'Aged 65 to 69_pct',
 'Aged 70 to 74_pct',
 'Aged 75 to 79_pct',
 'Aged 80 to 84_pct',
 'Aged 85 and over_pct',
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'All other types_pct',
 'Occupancy rating (rooms) of -1 or less_pct',
 'Does have central heating_pct',
 'Average household size',
 'Average number of rooms per household',
 'Owned outright_pct',
 'Owned with a mortgage or loan_pct',
 'Shared ownership_pct',
 'Rented from council(local authority)_pct',
 'Rented from a housing association/registered social landlord_pct',
 'Rented from a private landlord or letting agency_pct',
 'Other_pct',
 'All household spaces - with residents_pct',
 'Whole house or bungalow - detatched_pct',
 'Whole house or bungalow - semi-detatched_pct',
 'Whole house or bungalow - terraced_pct',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct',
 'Flat, maisonette or apartment - in a commercial building_pct',
 '1. Managers and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Personal service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process, plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001_pct',
 'X3_Intermediate_occupations_2001_pct',
 'X4_Small_employers_and_own_account_workers_2001_pct',
 'X5_Lower_supervisory_and_technical_occupations_2001_pct',
 'X6_Semi_routine_occupations_2001_pct',
 'X7_Routine_occupations_2001_pct',
 'X8_Never_worked_and_long_term_unemployed_2001_pct',
 'Not_classified_2001_pct',
 'United Kingdom',
 'EU countries',
 'Rest of Europe',
 'Africa',
 'Asia',
 'North America',
 'South America',
 'Oceania',
 'White',
 'Mixed',
 'Asian/Asian British',
 'Black/Black British',
 'Christian',
 'Buddhist',
 'Hindu',
 'Jewish',
 'Muslim',
 'Sikh',
 'Other religion',
 'No religion',
 'Religion not stated',
 'Males - Part-time -Less than 15 hrs',
 'Males - Part-time - 16 to 30 hours',
 'Males - Full-time - 31 to 48 hours',
 'Males - Full-time - 49 or more hours',
 'Females - Part-time - Less than 15 hours',
 'Females - Part-time - 16 to 30 hours',
 'Females - Full-time - 31 to 48 hours',
 'Females - Full-time - 49 or more hours',
 'No qualifications',
 'Highest level of qualification: Level 1 qualifications',
 'Highest level of qualification: Level 2 qualifications',
 'Highest level of qualification: Level 3 qualifications',
 'Highest level of qualification: Level 4 qualifications and above',
 'Highest level of qualification: Other qualifications',
 'Work mainly at or from home',
 'Underground, metro, light rail, tram',
 'Train',
 'Bus, minibus or coach',
 'Motorcycle, scooter or moped',
 'Driving a car or van',
 'Passenger in a car or van',
 'Taxi or minicab',
 'Bicycle',
 'On foot',
 'Other',
 'No cars or vans in household',
 '1 car or van in household',
 '2 cars or vans in household',
 '3 cars or vans in household',
 '4 or more cars or vans in household',
 'Pop Density 2001',
 'dwellings_2001',
 'Median House Price-2010',
 'House_sales_pct',
 'avg_churn_01_10']

In [6]:
# print feature column names

list(main_11.columns)

['2011 census lower super output areas',
 '2011 super output area - lower layer_x',
 'Local_authority_name',
 'Pop_2011',
 'Median_House_Prices_2011',
 'Median_income_2011',
 'Aged 4 and under_pct',
 'Aged 5 to 9_pct',
 'Aged 10 to 14_pct',
 'Aged 15 to 19_pct',
 'Aged 20 to 24_pct',
 'Aged 25 to 29_pct',
 'Aged 30 to 34_pct',
 'Aged 35 to 39_pct',
 'Aged 40 to 44_pct',
 'Aged 45 to 49_pct',
 'Aged 50 to 54_pct',
 'Aged 55 to 59_pct',
 'Aged 60 to 64_pct',
 'Aged 65 to 69_pct',
 'Aged 70 to 74_pct',
 'Aged 75 to 79_pct',
 'Aged 80 to 84_pct',
 'Aged 85 and over_pct',
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'All other types_pct',
 'Occupancy rating (rooms) of -1 or less_pct',
 'Does have central heating_pct',
 'Average household size',
 'Average number of rooms per household',
 'Owned: Owned outright_pct',
 'Owned: Owned with a mortgage or loan_pct',
 'Shared ownership (part owned and part rented)_pct',
 'Social rented: Rented from council (Local Authority)_pct',
 'Social rented: Other_pct',
 'Private rented: Private landlord or letting agency_pct',
 'Private rented: Other_pct',
 'Household spaces with at least one usual resident_pct',
 'Whole house or bungalow: Detached_pct',
 'Whole house or bungalow: Semi-detached_pct',
 'Whole house or bungalow: Terraced (including end-terrace)_pct',
 'Flat, maisonette or apartment: Purpose-built block of flats or tenement_pct',
 'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)_pct',
 'Flat, maisonette or apartment: In a commercial building_pct',
 '1. Managers, directors and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Caring, leisure and other service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process plant and machine operatives_pct',
 '9. Elementary occupations_pct',
 'Economically active_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2011_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2011_pct',
 'X3_Intermediate_occupations_2011_pct',
 'X4_Small_employers_and_own_account_workers_2011_pct',
 'X5_Lower_supervisory_and_technical_occupations_2011_pct',
 'X6_Semi_routine_occupations_2011_pct',
 'X7_Routine_occupations_2011_pct',
 'X8_Never_worked_and_long_term_unemployed_2011_pct',
 'Not_classified_2011_pct',
 'No cars or vans in household_pct',
 '1 car or van in household_pct',
 '2 cars or vans in household_pct',
 '3 cars or vans in household_pct',
 '4 or more cars or vans in household_pct',
 'Europe: United Kingdom: Total',
 'Europe: Other Europe: EU Countries: Total',
 'Europe: Other Europe: Rest of Europe: Total',
 'Africa: Total',
 'Middle East and Asia: Total',
 'The Americas and the Caribbean: North America and The Caribbeans: Total',
 'The Americas and the Caribbean: South America',
 'Antarctica and Oceania: Total',
 'White_pct',
 'Mixed/multiple ethnic groups_pct',
 'Asian/Asian British_pct',
 'Black/African/Caribbean/Black British_pct',
 'Christian_pct',
 'Buddhist_pct',
 'Hindu_pct',
 'Jewish_pct',
 'Muslim_pct',
 'Sikh_pct',
 'Other religion_pct',
 'No religion_pct',
 'Religion not stated_pct',
 'Males: Part-time: 15 hours or less worked',
 'Males: Part-time: 16 to 30 hours worked',
 'Males: Full-time: 31 to 48 hours worked',
 'Males: Full-time: 49 or more hours worked',
 'Females: Part-time: 15 hours or less worked',
 'Females: Part-time: 16 to 30 hours worked',
 'Females: Full-time: 31 to 48 hours worked',
 'Females: Full-time: 49 or more hours worked',
 'Work mainly at or from home_pct',
 'Underground, metro, light rail, tram_pct',
 'Train_pct',
 'Bus, minibus or coach_pct',
 'Taxi_pct',
 'Motorcycle, scooter or moped_pct',
 'Driving a car or van_pct',
 'Passenger in a car or van_pct',
 'Bicycle_pct',
 'On foot_pct',
 'Other method of travel to work_pct',
 'No qualifications',
 'Highest level of qualification: Level 1 qualifications',
 'Highest level of qualification: Level 2 qualifications',
 'Highest level of qualification: Level 3 qualifications',
 'Highest level of qualification: Level 4 qualifications and above',
 'Highest level of qualification: Other qualifications',
 'Density (number of persons per hectare)',
 'dwellings_2011',
 'Median House Price 2016',
 'House_sales_pct',
 'avg_churn_11_16']

In [7]:
# drop irrelevant features

df_modelling_01 = main_01.drop(columns=['2011 super output area - lower layer_x',
 'Local_authority_name'])

In [8]:
# re-arrange feature sequence

df_modelling_01 = df_modelling_01[[
 '2011 census lower super output areas',
 'Pop_2001',
 'avg_churn_01_10',
 'Aged 4 and under_pct',
 'Aged 5 to 9_pct',
 'Aged 10 to 14_pct',
 'Aged 15 to 19_pct',
 'Aged 20 to 24_pct',
 'Aged 25 to 29_pct',
 'Aged 30 to 34_pct',
 'Aged 35 to 39_pct',
 'Aged 40 to 44_pct',
 'Aged 45 to 49_pct',
 'Aged 50 to 54_pct',
 'Aged 55 to 59_pct',
 'Aged 60 to 64_pct',
 'Aged 65 to 69_pct',
 'Aged 70 to 74_pct',
 'Aged 75 to 79_pct',
 'Aged 80 to 84_pct',
 'Aged 85 and over_pct',
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'All other types_pct',
 'Average household size',
 'United Kingdom',
 'EU countries',
 'Rest of Europe',
 'Africa',
 'Asia',
 'North America',
 'South America',
 'Oceania',
 'White',
 'Mixed',
 'Asian/Asian British',
 'Black/Black British',
 'Christian',
 'Buddhist',
 'Hindu',
 'Jewish',
 'Muslim',
 'Sikh',
 'Other religion',
 'No religion',
 'Religion not stated',
 'No cars or vans in household',
 '1 car or van in household',
 '2 cars or vans in household',
 '3 cars or vans in household',
 '4 or more cars or vans in household',
 'Median_House_Prices_2001',
 'Median House Price-2010',
 'House_sales_pct',
 'Pop Density 2001',
 'dwellings_2001',
 'Occupancy rating (rooms) of -1 or less_pct',
 'Does have central heating_pct',
 'Average number of rooms per household',
 'Owned outright_pct',
 'Owned with a mortgage or loan_pct',
 'Shared ownership_pct',
 'Rented from council(local authority)_pct',
 'Rented from a housing association/registered social landlord_pct',
 'Rented from a private landlord or letting agency_pct',
 'Other_pct',
 'All household spaces - with residents_pct',
 'Whole house or bungalow - detatched_pct',
 'Whole house or bungalow - semi-detatched_pct',
 'Whole house or bungalow - terraced_pct',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct',
 'Flat, maisonette or apartment - in a commercial building_pct',
 'Median_income_2001',
 '1. Managers and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Personal service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process, plant and machine operatives_pct',
 '9. Elementary occupations_pct',    
 'Economically active_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001_pct',
 'X3_Intermediate_occupations_2001_pct',
 'X4_Small_employers_and_own_account_workers_2001_pct',
 'X5_Lower_supervisory_and_technical_occupations_2001_pct',
 'X6_Semi_routine_occupations_2001_pct',
 'X7_Routine_occupations_2001_pct',
 'X8_Never_worked_and_long_term_unemployed_2001_pct',
 'Not_classified_2001_pct',
 'Males - Part-time -Less than 15 hrs',
 'Males - Part-time - 16 to 30 hours',
 'Males - Full-time - 31 to 48 hours',
 'Males - Full-time - 49 or more hours',
 'Females - Part-time - Less than 15 hours',
 'Females - Part-time - 16 to 30 hours',
 'Females - Full-time - 31 to 48 hours',
 'Females - Full-time - 49 or more hours',
 'No qualifications',
 'Highest level of qualification: Level 1 qualifications',
 'Highest level of qualification: Level 2 qualifications',
 'Highest level of qualification: Level 3 qualifications',
 'Highest level of qualification: Level 4 qualifications and above',
 'Highest level of qualification: Other qualifications',
 'Work mainly at or from home',
 'Underground, metro, light rail, tram',
 'Train',
 'Bus, minibus or coach',
 'Motorcycle, scooter or moped',
 'Driving a car or van',
 'Passenger in a car or van',
 'Taxi or minicab',
 'Bicycle',
 'On foot',
 'Other'
]]

In [11]:
# rename features

df_modelling_01 = df_modelling_01.rename(columns = {
 '2011 census lower super output areas':'LSOA11CD',
 'Pop_2001':'Pop_size',
 'avg_churn_01_10': 'avg_pop_churn',
 'Aged 4 and under_pct':'age_0_4',
 'Aged 5 to 9_pct':'age_5_9',
 'Aged 10 to 14_pct':'age_10_14',
 'Aged 15 to 19_pct':'age_15_19',
 'Aged 20 to 24_pct':'age_20_24',
 'Aged 25 to 29_pct':'age_25_29',
 'Aged 30 to 34_pct':'age_30_34',
 'Aged 35 to 39_pct':'age_35_39',
 'Aged 40 to 44_pct':'age_40_44',
 'Aged 45 to 49_pct':'age_45_49',
 'Aged 50 to 54_pct':'age_50_54',
 'Aged 55 to 59_pct':'age_55_59',
 'Aged 60 to 64_pct':'age_60_64',
 'Aged 65 to 69_pct':'age_65_69',
 'Aged 70 to 74_pct':'age_70_74',
 'Aged 75 to 79_pct':'age_75_79',
 'Aged 80 to 84_pct':'age_80_84',
 'Aged 85 and over_pct':'age_over_85',
 'One person household: Aged 65 and over_pct':'1-personHse_aged',
 'One person household: Other_pct':'1-personHse_other',
 'One family only: All aged 65 and over_pct':'1-family_aged',
 'One family only: Married or same-sex civil partnership couple: No children_pct':'1-family_married_noKids',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct':'1-family_married_depKids',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct':'1-family_married_noDepKids',
 'One family only: Cohabiting couple: No children_pct':'1-family_cohab_noKids',
 'One family only: Cohabiting couple: Dependent children_pct':'1-family_cohab_depKids',
 'One family only: Cohabiting couple: All children non-dependent_pct':'1-family_cohab_noDepKids',
 'One family only: Lone parent: Dependent children_pct':'1-family_lone_depKids',
 'One family only: Lone parent: All children non-dependent_pct':'1-family_lone_noDepKids',
 'Other household types: With dependent children_pct':'otherHse_other',  
 'Average household size':'avg_hse_size',
 'United Kingdom':'born_UK',
 'Republic of Ireland':'born_IRE',
 'EU countries':'born_EU',
 'Rest of Europe':'born_restEUR',
 'Africa':'born_Africa',
 'Asia':'born_Asia',
 'North America':'born_NthAm',
 'South America':'born_SthAm',
 'Oceania':'born_Oceania',
 'White':'eth_white',
 'Mixed':'eth_mixed',
 'Asian/Asian British':'eth_asian',
 'Black/Black British':'eth_black',
 'Christian':'Christian',
 'Buddhist':'Buddhist',
 'Hindu':'Hindu',
 'Jewish':'Jewish',
 'Muslim':'Muslim',
 'Sikh':'Sikh',
 'Other religion':'Oth_religion',
 'No religion':'No_religion',
 'Religion not stated':'Religion_not_stated',
 'No cars or vans in household':'no_carsVans',
 '1 car or van in household':'1_carsVans',
 '2 cars or vans in household':'2_carsVans',
 '3 cars or vans in household':'3_carsVans',
 '4 or more cars or vans in household':'4_more_carsVans',
 'Median_House_Prices_2001':'Median_HsePrice_BaseYr',
 'Median House Price-2010':'Median_HsePrice_EndYr',
 'House_sales_pct':'avg_hse_sales',
 'Pop Density 2001': 'Pop_density',
 'dwellings_2001':'dwellings_no',
 'Occupancy rating (rooms) of -1 or less_pct':'occup_rating',
 'Does have central heating_pct':'central_heating',
 'Average number of rooms per household':'avg_rooms',
 'Owned outright_pct':'tenure_owned_outright',
 'Owned with a mortgage or loan_pct':'tenure_owned_mortLoan',
 'Shared ownership_pct':'tenure_shared',
 'Rented from council(local authority)_pct':'tenure_rent_council',
 'Rented from a housing association/registered social landlord_pct':'tenure_rent_hsgAssc',
 'Rented from a private landlord or letting agency_pct':'tenure_rent_private',
 'Other_pct':'tenure_rent_other',
 'All household spaces - with residents_pct':'hsehold_usual_residents',
 'Whole house or bungalow - detatched_pct':'hse_detached',
 'Whole house or bungalow - semi-detatched_pct':'hse_semiDetached',
 'Whole house or bungalow - terraced_pct':'hse_terraced',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct':'hse_flats',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct':'hse_converted_shared',
 'Flat, maisonette or apartment - in a commercial building_pct':'hse_commercial',
 'Median_income_2001':'median_income',
 '1. Managers and senior officials_pct':'Managers_directors_senior_occup',
 '2. Professional occupations_pct':'Professional_occup',
 '3. Associate professional and technical occupations_pct':'Associate_professional_technical_occup',
 '4. Administrative and secretarial occupations_pct':'Administrative_secretarial_occup',
 '5. Skilled trades occupations_pct':'Skilled_trades_occup',
 '6. Personal service occupations_pct':'Caring_leisure_other_service_occup',
 '7. Sales and customer service occupations_pct':'Sales_customer_service_occup',
 '8. Process, plant and machine operatives_pct':'Process plant_machine_operatives_occup',
 '9. Elementary occupations_pct':'Elementary_occup',
 'Economically active_pct':'economically_active',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001_pct':'NS-SEC_1',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001_pct':'NS-SEC_2',
 'X3_Intermediate_occupations_2001_pct':'NS-SEC_3',
 'X4_Small_employers_and_own_account_workers_2001_pct':'NS-SEC_4',
 'X5_Lower_supervisory_and_technical_occupations_2001_pct':'NS-SEC_5',
 'X6_Semi_routine_occupations_2001_pct':'NS-SEC_6',
 'X7_Routine_occupations_2001_pct':'NS-SEC_7',
 'X8_Never_worked_and_long_term_unemployed_2001_pct':'NS-SEC_8',
 'Not_classified_2001_pct':'NS-SEC_noClass',
 'Males - Part-time -Less than 15 hrs':'Males_ptTime_less15hrs',
 'Males - Part-time - 16 to 30 hours':'Males_ptTime_16_30hrs',
 'Males - Full-time - 31 to 48 hours':'Males_FTime_31_48hrs',
 'Males - Full-time - 49 or more hours':'Males_FTime_more49hrs',
 'Females - Part-time - Less than 15 hours':'Females_ptTime_less15hrs',
 'Females - Part-time - 16 to 30 hours':'Females_ptTime_16_30hrs',
 'Females - Full-time - 31 to 48 hours':'Females_FTime_31_48hrs',
 'Females - Full-time - 49 or more hours':'Females_FTime_more49hrs',
 'No qualifications':'No_qual',
 'Highest level of qualification: Level 1 qualifications':'Lv1_qual',
 'Highest level of qualification: Level 2 qualifications':'Lv2_qual',
 'Highest level of qualification: Level 3 qualifications':'Lv3_qual',
 'Highest level of qualification: Level 4 qualifications and above':'Lv4_qual',
 'Highest level of qualification: Other qualifications':'Other_qual',
 'Work mainly at or from home':'toWork_home',
 'Underground, metro, light rail, tram':'toWork_underground_light_rail',
 'Train':'toWork_train',
 'Bus, minibus or coach':'toWork_bus',
 'Motorcycle, scooter or moped':'toWork_motorcycle',
 'Driving a car or van':'toWork_carVan',
 'Passenger in a car or van':'toWork_passenger_carVan',
 'Taxi or minicab':'toWork_taxi',
 'Bicycle':'toWork_bicycle',
 'On foot':'toWork_walk',
 'Other':'toWork_other'
})

In [12]:
# verify features

list(df_modelling_01.columns)

['LSOA11CD',
 'Pop_size',
 'avg_pop_churn',
 'age_0_4',
 'age_5_9',
 'age_10_14',
 'age_15_19',
 'age_20_24',
 'age_25_29',
 'age_30_34',
 'age_35_39',
 'age_40_44',
 'age_45_49',
 'age_50_54',
 'age_55_59',
 'age_60_64',
 'age_65_69',
 'age_70_74',
 'age_75_79',
 'age_80_84',
 'age_over_85',
 '1-personHse_aged',
 '1-personHse_other',
 '1-family_aged',
 '1-family_married_noKids',
 '1-family_married_depKids',
 '1-family_married_noDepKids',
 '1-family_cohab_noKids',
 '1-family_cohab_depKids',
 '1-family_cohab_noDepKids',
 '1-family_lone_depKids',
 '1-family_lone_noDepKids',
 'otherHse_other',
 'All other types_pct',
 'avg_hse_size',
 'born_UK',
 'born_EU',
 'born_restEUR',
 'born_Africa',
 'born_Asia',
 'born_NthAm',
 'born_SthAm',
 'born_Oceania',
 'eth_white',
 'eth_mixed',
 'eth_asian',
 'eth_black',
 'Christian',
 'Buddhist',
 'Hindu',
 'Jewish',
 'Muslim',
 'Sikh',
 'Oth_religion',
 'No_religion',
 'Religion_not_stated',
 'no_carsVans',
 '1_carsVans',
 '2_carsVans',
 '3_carsVans',
 '4_more_carsVans',
 'Median_HsePrice_BaseYr',
 'Median_HsePrice_EndYr',
 'avg_hse_sales',
 'Pop_density',
 'dwellings_no',
 'occup_rating',
 'central_heating',
 'avg_rooms',
 'tenure_owned_outright',
 'tenure_owned_mortLoan',
 'tenure_shared',
 'tenure_rent_council',
 'tenure_rent_hsgAssc',
 'tenure_rent_private',
 'tenure_rent_other',
 'hsehold_usual_residents',
 'hse_detached',
 'hse_semiDetached',
 'hse_terraced',
 'hse_flats',
 'hse_converted_shared',
 'hse_commercial',
 'median_income',
 'Managers_directors_senior_occup',
 'Professional_occup',
 'Associate_professional_technical_occup',
 'Administrative_secretarial_occup',
 'Skilled_trades_occup',
 'Caring_leisure_other_service_occup',
 'Sales_customer_service_occup',
 'Process plant_machine_operatives_occup',
 'Elementary_occup',
 'economically_active',
 'NS-SEC_1',
 'NS-SEC_2',
 'NS-SEC_3',
 'NS-SEC_4',
 'NS-SEC_5',
 'NS-SEC_6',
 'NS-SEC_7',
 'NS-SEC_8',
 'NS-SEC_noClass',
 'Males_ptTime_less15hrs',
 'Males_ptTime_16_30hrs',
 'Males_FTime_31_48hrs',
 'Males_FTime_more49hrs',
 'Females_ptTime_less15hrs',
 'Females_ptTime_16_30hrs',
 'Females_FTime_31_48hrs',
 'Females_FTime_more49hrs',
 'No_qual',
 'Lv1_qual',
 'Lv2_qual',
 'Lv3_qual',
 'Lv4_qual',
 'Other_qual',
 'toWork_home',
 'toWork_underground_light_rail',
 'toWork_train',
 'toWork_bus',
 'toWork_motorcycle',
 'toWork_carVan',
 'toWork_passenger_carVan',
 'toWork_taxi',
 'toWork_bicycle',
 'toWork_walk',
 'toWork_other']

In [13]:
df_modelling_01.head()

,LSOA11CD,Pop_size,avg_pop_churn,age_0_4,age_5_9,age_10_14,age_15_19,age_20_24,age_25_29,age_30_34,...,toWork_underground_light_rail,toWork_train,toWork_bus,toWork_motorcycle,toWork_carVan,toWork_passenger_carVan,toWork_taxi,toWork_bicycle,toWork_walk,toWork_other
0,E01000001,1465,0.4534,3.41,2.25,1.77,1.30,4.30,9.56,10.31,...,14.660115,2.866503,2.702703,0.737101,0.327600,2.211302,0.327600,3.767404,35.626536,0.737101
1,E01000002,1436,0.4868,4.18,3.20,2.09,1.95,2.79,6.41,7.80,...,15.468227,3.511706,1.839465,1.003344,0.501672,2.006689,0.083612,4.682274,33.695652,0.836120
2,E01000003,1346,0.3947,3.94,1.63,1.78,5.35,5.72,10.70,10.03,...,13.520871,3.448276,6.170599,0.181488,0.362976,2.631579,0.090744,6.170599,28.765880,0.816697
3,E01000005,985,0.3819,4.26,6.09,4.97,4.87,9.85,12.39,8.12,...,13.842173,5.304010,9.702458,0.129366,0.129366,3.234153,0.258732,4.139715,20.181113,0.129366
4,E01000006,1703,0.3633,9.04,7.16,5.87,4.87,7.57,12.68,11.10,...,20.463629,8.393285,4.476419,0.159872,0.079936,17.745803,0.799361,0.559552,4.716227,0.159872

In [14]:
# checkpoint - output file
df_modelling_01.to_csv('df_modelling_01.csv')

### Prep 2011 Datasets

In [17]:
# drop irrelevant features

df_modelling_11 = main_11.drop(columns=['2011 super output area - lower layer_x',
 'Local_authority_name'])

In [19]:
# re-arrange feature sequence

df_modelling_11 = df_modelling_11[[
 '2011 census lower super output areas',
 'Pop_2001',
 'avg_churn_01_10',
 'Aged 4 and under_pct',
 'Aged 5 to 9_pct',
 'Aged 10 to 14_pct',
 'Aged 15 to 19_pct',
 'Aged 20 to 24_pct',
 'Aged 25 to 29_pct',
 'Aged 30 to 34_pct',
 'Aged 35 to 39_pct',
 'Aged 40 to 44_pct',
 'Aged 45 to 49_pct',
 'Aged 50 to 54_pct',
 'Aged 55 to 59_pct',
 'Aged 60 to 64_pct',
 'Aged 65 to 69_pct',
 'Aged 70 to 74_pct',
 'Aged 75 to 79_pct',
 'Aged 80 to 84_pct',
 'Aged 85 and over_pct',
 'One person household: Aged 65 and over_pct',
 'One person household: Other_pct',
 'One family only: All aged 65 and over_pct',
 'One family only: Married or same-sex civil partnership couple: No children_pct',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct',
 'One family only: Cohabiting couple: No children_pct',
 'One family only: Cohabiting couple: Dependent children_pct',
 'One family only: Cohabiting couple: All children non-dependent_pct',
 'One family only: Lone parent: Dependent children_pct',
 'One family only: Lone parent: All children non-dependent_pct',
 'Other household types: With dependent children_pct',
 'All other types_pct',
 'Average household size',
 'United Kingdom',
 'EU countries',
 'Rest of Europe',
 'Africa',
 'Asia',
 'North America',
 'South America',
 'Oceania',
 'White',
 'Mixed',
 'Asian/Asian British',
 'Black/Black British',
 'Christian',
 'Buddhist',
 'Hindu',
 'Jewish',
 'Muslim',
 'Sikh',
 'Other religion',
 'No religion',
 'Religion not stated',
 'No cars or vans in household',
 '1 car or van in household',
 '2 cars or vans in household',
 '3 cars or vans in household',
 '4 or more cars or vans in household',
 'Median_House_Prices_2001',
 'Median House Price-2010',
 'House_sales_pct',
 'Pop Density 2001',
 'dwellings_2001',
 'Occupancy rating (rooms) of -1 or less_pct',
 'Does have central heating_pct',
 'Average number of rooms per household',
 'Owned outright_pct',
 'Owned with a mortgage or loan_pct',
 'Shared ownership_pct',
 'Rented from council(local authority)_pct',
 'Rented from a housing association/registered social landlord_pct',
 'Rented from a private landlord or letting agency_pct',
 'Other_pct',
 'All household spaces - with residents_pct',
 'Whole house or bungalow - detatched_pct',
 'Whole house or bungalow - semi-detatched_pct',
 'Whole house or bungalow - terraced_pct',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct',
 'Flat, maisonette or apartment - in a commercial building_pct',
 'Median_income_2001',
 '1. Managers and senior officials_pct',
 '2. Professional occupations_pct',
 '3. Associate professional and technical occupations_pct',
 '4. Administrative and secretarial occupations_pct',
 '5. Skilled trades occupations_pct',
 '6. Personal service occupations_pct',
 '7. Sales and customer service occupations_pct',
 '8. Process, plant and machine operatives_pct',
 '9. Elementary occupations_pct',    
 'Economically active_pct',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001_pct',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001_pct',
 'X3_Intermediate_occupations_2001_pct',
 'X4_Small_employers_and_own_account_workers_2001_pct',
 'X5_Lower_supervisory_and_technical_occupations_2001_pct',
 'X6_Semi_routine_occupations_2001_pct',
 'X7_Routine_occupations_2001_pct',
 'X8_Never_worked_and_long_term_unemployed_2001_pct',
 'Not_classified_2001_pct',
 'Males - Part-time -Less than 15 hrs',
 'Males - Part-time - 16 to 30 hours',
 'Males - Full-time - 31 to 48 hours',
 'Males - Full-time - 49 or more hours',
 'Females - Part-time - Less than 15 hours',
 'Females - Part-time - 16 to 30 hours',
 'Females - Full-time - 31 to 48 hours',
 'Females - Full-time - 49 or more hours',
 'No qualifications',
 'Highest level of qualification: Level 1 qualifications',
 'Highest level of qualification: Level 2 qualifications',
 'Highest level of qualification: Level 3 qualifications',
 'Highest level of qualification: Level 4 qualifications and above',
 'Highest level of qualification: Other qualifications',
 'Work mainly at or from home',
 'Underground, metro, light rail, tram',
 'Train',
 'Bus, minibus or coach',
 'Motorcycle, scooter or moped',
 'Driving a car or van',
 'Passenger in a car or van',
 'Taxi or minicab',
 'Bicycle',
 'On foot',
 'Other'
]]

In [21]:
# rename features

df_modelling_11 = df_modelling_11.rename(columns = {
 '2011 census lower super output areas':'LSOA11CD',
 'Pop_2001':'Pop_size',
 'avg_churn_01_10': 'avg_pop_churn',
 'Aged 4 and under_pct':'age_0_4',
 'Aged 5 to 9_pct':'age_5_9',
 'Aged 10 to 14_pct':'age_10_14',
 'Aged 15 to 19_pct':'age_15_19',
 'Aged 20 to 24_pct':'age_20_24',
 'Aged 25 to 29_pct':'age_25_29',
 'Aged 30 to 34_pct':'age_30_34',
 'Aged 35 to 39_pct':'age_35_39',
 'Aged 40 to 44_pct':'age_40_44',
 'Aged 45 to 49_pct':'age_45_49',
 'Aged 50 to 54_pct':'age_50_54',
 'Aged 55 to 59_pct':'age_55_59',
 'Aged 60 to 64_pct':'age_60_64',
 'Aged 65 to 69_pct':'age_65_69',
 'Aged 70 to 74_pct':'age_70_74',
 'Aged 75 to 79_pct':'age_75_79',
 'Aged 80 to 84_pct':'age_80_84',
 'Aged 85 and over_pct':'age_over_85',
 'One person household: Aged 65 and over_pct':'1-personHse_aged',
 'One person household: Other_pct':'1-personHse_other',
 'One family only: All aged 65 and over_pct':'1-family_aged',
 'One family only: Married or same-sex civil partnership couple: No children_pct':'1-family_married_noKids',
 'One family only: Married or same-sex civil partnership couple: Dependent children_pct':'1-family_married_depKids',
 'One family only: Married or same-sex civil partnership couple: All children non-dependent_pct':'1-family_married_noDepKids',
 'One family only: Cohabiting couple: No children_pct':'1-family_cohab_noKids',
 'One family only: Cohabiting couple: Dependent children_pct':'1-family_cohab_depKids',
 'One family only: Cohabiting couple: All children non-dependent_pct':'1-family_cohab_noDepKids',
 'One family only: Lone parent: Dependent children_pct':'1-family_lone_depKids',
 'One family only: Lone parent: All children non-dependent_pct':'1-family_lone_noDepKids',
 'Other household types: With dependent children_pct':'otherHse_other',  
 'Average household size':'avg_hse_size',
 'United Kingdom':'born_UK',
 'Republic of Ireland':'born_IRE',
 'EU countries':'born_EU',
 'Rest of Europe':'born_restEUR',
 'Africa':'born_Africa',
 'Asia':'born_Asia',
 'North America':'born_NthAm',
 'South America':'born_SthAm',
 'Oceania':'born_Oceania',
 'White':'eth_white',
 'Mixed':'eth_mixed',
 'Asian/Asian British':'eth_asian',
 'Black/Black British':'eth_black',
 'Christian':'Christian',
 'Buddhist':'Buddhist',
 'Hindu':'Hindu',
 'Jewish':'Jewish',
 'Muslim':'Muslim',
 'Sikh':'Sikh',
 'Other religion':'Oth_religion',
 'No religion':'No_religion',
 'Religion not stated':'Religion_not_stated',
 'No cars or vans in household':'no_carsVans',
 '1 car or van in household':'1_carsVans',
 '2 cars or vans in household':'2_carsVans',
 '3 cars or vans in household':'3_carsVans',
 '4 or more cars or vans in household':'4_more_carsVans',
 'Median_House_Prices_2001':'Median_HsePrice_BaseYr',
 'Median House Price-2010':'Median_HsePrice_EndYr',
 'House_sales_pct':'avg_hse_sales',
 'Pop Density 2001': 'Pop_density',
 'dwellings_2001':'dwellings_no',
 'Occupancy rating (rooms) of -1 or less_pct':'occup_rating',
 'Does have central heating_pct':'central_heating',
 'Average number of rooms per household':'avg_rooms',
 'Owned outright_pct':'tenure_owned_outright',
 'Owned with a mortgage or loan_pct':'tenure_owned_mortLoan',
 'Shared ownership_pct':'tenure_shared',
 'Rented from council(local authority)_pct':'tenure_rent_council',
 'Rented from a housing association/registered social landlord_pct':'tenure_rent_hsgAssc',
 'Rented from a private landlord or letting agency_pct':'tenure_rent_private',
 'Other_pct':'tenure_rent_other',
 'All household spaces - with residents_pct':'hsehold_usual_residents',
 'Whole house or bungalow - detatched_pct':'hse_detached',
 'Whole house or bungalow - semi-detatched_pct':'hse_semiDetached',
 'Whole house or bungalow - terraced_pct':'hse_terraced',
 'Flat, maisonette or apartment - in a purpose built block of flats or tenement_pct':'hse_flats',
 'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)_pct':'hse_converted_shared',
 'Flat, maisonette or apartment - in a commercial building_pct':'hse_commercial',
 'Median_income_2001':'median_income',
 '1. Managers and senior officials_pct':'Managers_directors_senior_occup',
 '2. Professional occupations_pct':'Professional_occup',
 '3. Associate professional and technical occupations_pct':'Associate_professional_technical_occup',
 '4. Administrative and secretarial occupations_pct':'Administrative_secretarial_occup',
 '5. Skilled trades occupations_pct':'Skilled_trades_occup',
 '6. Personal service occupations_pct':'Caring_leisure_other_service_occup',
 '7. Sales and customer service occupations_pct':'Sales_customer_service_occup',
 '8. Process, plant and machine operatives_pct':'Process plant_machine_operatives_occup',
 '9. Elementary occupations_pct':'Elementary_occup',
 'Economically active_pct':'economically_active',
 'X1_Higher_managerial_administrative_and_professional_occupations_2001_pct':'NS-SEC_1',
 'X2_Lower_managerial_administrative_and_professional_occupations_2001_pct':'NS-SEC_2',
 'X3_Intermediate_occupations_2001_pct':'NS-SEC_3',
 'X4_Small_employers_and_own_account_workers_2001_pct':'NS-SEC_4',
 'X5_Lower_supervisory_and_technical_occupations_2001_pct':'NS-SEC_5',
 'X6_Semi_routine_occupations_2001_pct':'NS-SEC_6',
 'X7_Routine_occupations_2001_pct':'NS-SEC_7',
 'X8_Never_worked_and_long_term_unemployed_2001_pct':'NS-SEC_8',
 'Not_classified_2001_pct':'NS-SEC_noClass',
 'Males - Part-time -Less than 15 hrs':'Males_ptTime_less15hrs',
 'Males - Part-time - 16 to 30 hours':'Males_ptTime_16_30hrs',
 'Males - Full-time - 31 to 48 hours':'Males_FTime_31_48hrs',
 'Males - Full-time - 49 or more hours':'Males_FTime_more49hrs',
 'Females - Part-time - Less than 15 hours':'Females_ptTime_less15hrs',
 'Females - Part-time - 16 to 30 hours':'Females_ptTime_16_30hrs',
 'Females - Full-time - 31 to 48 hours':'Females_FTime_31_48hrs',
 'Females - Full-time - 49 or more hours':'Females_FTime_more49hrs',
 'No qualifications':'No_qual',
 'Highest level of qualification: Level 1 qualifications':'Lv1_qual',
 'Highest level of qualification: Level 2 qualifications':'Lv2_qual',
 'Highest level of qualification: Level 3 qualifications':'Lv3_qual',
 'Highest level of qualification: Level 4 qualifications and above':'Lv4_qual',
 'Highest level of qualification: Other qualifications':'Other_qual',
 'Work mainly at or from home':'toWork_home',
 'Underground, metro, light rail, tram':'toWork_underground_light_rail',
 'Train':'toWork_train',
 'Bus, minibus or coach':'toWork_bus',
 'Motorcycle, scooter or moped':'toWork_motorcycle',
 'Driving a car or van':'toWork_carVan',
 'Passenger in a car or van':'toWork_passenger_carVan',
 'Taxi or minicab':'toWork_taxi',
 'Bicycle':'toWork_bicycle',
 'On foot':'toWork_walk',
 'Other':'toWork_other'
})

In [22]:
df_modelling_11.head()

,LSOA11CD,Pop_size,avg_pop_churn,age_0_4,age_5_9,age_10_14,age_15_19,age_20_24,age_25_29,age_30_34,...,toWork_underground_light_rail,toWork_train,toWork_bus,toWork_motorcycle,toWork_carVan,toWork_passenger_carVan,toWork_taxi,toWork_bicycle,toWork_walk,toWork_other
0,E01000001,1484,0.23325,3.50,2.36,2.16,1.55,6.13,10.78,8.89,...,1.97,1.39,0.35,0.35,2.09,0.00,2.78,12.63,0.35,2.37
1,E01000002,1382,0.29325,2.46,1.66,1.59,2.17,7.24,12.01,9.70,...,1.36,1.70,0.23,0.11,2.15,0.34,2.83,10.53,0.57,1.77
2,E01000003,1617,0.20250,2.47,2.16,2.04,1.42,5.88,11.56,10.27,...,2.09,2.58,0.40,0.40,2.68,0.70,6.16,14.50,1.59,8.77
3,E01000005,1098,0.20925,4.55,4.01,3.19,8.11,10.75,8.74,10.75,...,5.02,9.04,0.40,0.40,6.43,0.20,4.02,18.07,1.61,20.56
4,E01000006,1838,0.16425,8.32,6.91,5.98,6.69,6.69,7.07,9.52,...,11.71,6.76,0.11,0.68,25.45,1.13,0.68,6.87,1.91,20.64

In [23]:
# checkpoint - output file
df_modelling_11.to_csv("df_modelling_11.csv")

In [24]:
# checking for null columns

list(df_modelling_01.isna().any())

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [25]:
# checking for null columns

list(df_modelling_11.isna().any())

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

### Scaling the variables

In [26]:
# checkpoint - reload the files

df_modelling_01 = pd.read_csv("df_modelling_01.csv").drop(columns="Unnamed: 0")
df_modelling_11 = pd.read_csv("df_modelling_11.csv").drop(columns="Unnamed: 0")

In [27]:
from sklearn.preprocessing import RobustScaler

In [28]:
df_modelling_01 = df_modelling_01.set_index("LSOA11CD")
df_modelling_11 = df_modelling_11.set_index("LSOA11CD")

In [29]:
# re-scale 2001 variables

scaler_01 = RobustScaler()
df_modelling_std_01 = scaler_01.fit_transform(df_modelling_01)
df_modelling_std_01 = pd.DataFrame(df_modelling_std_01, index = df_modelling_01.index, columns=df_modelling_01.columns)

In [30]:
df_modelling_std_01.head()

,Pop_size,avg_pop_churn,age_0_4,age_5_9,age_10_14,age_15_19,age_20_24,age_25_29,age_30_34,age_35_39,...,toWork_underground_light_rail,toWork_train,toWork_bus,toWork_motorcycle,toWork_carVan,toWork_passenger_carVan,toWork_taxi,toWork_bicycle,toWork_walk,toWork_other
LSOA11CD,,,,,,,,,,,,,,,,,,,,,
E01000001,-0.658537,0.741966,-1.372624,-1.614350,-1.582329,-1.755906,-0.901554,0.083712,0.272321,0.144578,...,0.170795,-0.306083,-0.835334,1.793259,-0.546198,-0.859595,-0.631409,0.805561,11.685667,1.749058
E01000002,-0.759582,0.950390,-1.079848,-1.188341,-1.453815,-1.500000,-1.423143,-0.489536,-0.287946,0.321285,...,0.227091,-0.233313,-0.974646,2.703046,-0.233249,-0.871737,-0.858955,1.137534,10.966777,2.137273
E01000003,-1.073171,0.375663,-1.171103,-1.892377,-1.578313,-0.161417,-0.411054,0.291174,0.209821,0.257028,...,0.091431,-0.240467,-0.275673,-0.105336,-0.482598,-0.834654,-0.852303,1.677591,9.131364,2.061122
E01000005,-2.331010,0.295788,-1.049430,0.107623,-0.297189,-0.350394,1.015544,0.598726,-0.216518,-1.052209,...,0.113814,-0.031168,0.294310,-0.283444,-0.902586,-0.798896,-0.695636,0.940659,5.935153,-0.633620
E01000006,0.170732,0.179719,0.768061,0.587444,0.064257,-0.350394,0.227979,0.651501,0.448661,0.506024,...,0.575088,0.317257,-0.549085,-0.179201,-0.991452,0.062273,-0.191442,-0.358449,0.177392,-0.514019

In [31]:
# checkpoint - output file
df_modelling_std_01.to_csv("6O_df_modelling_std_01.csv")

In [32]:
# re-scale 2011 variables

scaler_11 = RobustScaler()
df_modelling_std_11 = scaler_11.fit_transform(df_modelling_11)
df_modelling_std_11 = pd.DataFrame(df_modelling_std_11, index = df_modelling_11.index, columns=df_modelling_11.columns)

In [33]:
df_modelling_std_11.head()

,Pop_size,avg_pop_churn,age_0_4,age_5_9,age_10_14,age_15_19,age_20_24,age_25_29,age_30_34,age_35_39,...,toWork_underground_light_rail,toWork_train,toWork_bus,toWork_motorcycle,toWork_carVan,toWork_passenger_carVan,toWork_taxi,toWork_bicycle,toWork_walk,toWork_other
LSOA11CD,,,,,,,,,,,,,,,,,,,,,
E01000001,-0.646753,0.634259,-1.140,-1.810474,-1.733333,-1.726651,0.050193,0.719540,0.114504,0.017316,...,-0.577342,-0.857143,-0.250000,-0.482143,-0.886919,-0.823899,0.145695,2.099398,-1.112676,-1.409938
E01000002,-0.911688,1.189815,-1.660,-2.159601,-1.986667,-1.444191,0.478764,1.002299,0.320611,-0.064935,...,-0.710240,-0.815560,-0.522727,-0.910714,-0.884044,-0.610063,0.162252,1.466867,-0.802817,-1.472050
E01000003,-0.301299,0.349537,-1.655,-1.910224,-1.786667,-1.785877,-0.046332,0.898851,0.465649,0.316017,...,-0.551198,-0.697518,-0.136364,-0.392857,-0.858649,-0.383648,1.264901,2.662651,0.633803,-0.747412
E01000005,-1.649351,0.412037,-0.615,-0.987531,-1.275556,1.261959,1.833977,0.250575,0.587786,-0.082251,...,0.087146,0.169014,-0.136364,-0.392857,-0.678965,-0.698113,0.556291,3.737952,0.661972,0.473085
E01000006,0.272727,-0.004630,1.270,0.458853,-0.035556,0.615034,0.266409,-0.133333,0.274809,0.116883,...,1.544662,-0.136821,-0.795455,0.107143,0.232391,-0.113208,-0.549669,0.364458,1.084507,0.481366

In [34]:
# checkpoint - output file
df_modelling_std_11.to_csv("6O_df_modelling_std_11.csv")

### Attach Clustering Labels to 2001 Modelling Dataset

In [36]:
labels = pd.read_csv("LSOA_labels_forMapping.csv").drop(columns="Unnamed: 0")

In [37]:
labels.head()

   LSOA_Code Class_1_status Class_2_status Class_3_status
0  E01000001            STB            STB            STB
1  E01000002            STB            STB            STB
2  E01000003            STB            STB            STB
3  E01000005            DEC            DEC            DEC
4  E01000006            DEC            DEC            DEC

In [38]:
df_modelling_std_01 = df_modelling_std_01.reset_index()

In [39]:
# merge the inputs for modelling and cluster labels

df_modelling_std_01_labels = df_modelling_std_01.merge(labels[["LSOA_Code","Class_2_status", "Class_3_status"]], left_on="LSOA11CD", right_on="LSOA_Code", how = "left")

In [40]:
df_modelling_std_01_labels = df_modelling_std_01_labels.drop(columns="LSOA_Code")

In [41]:
df_modelling_std_01_labels.head()

,LSOA11CD,Pop_size,avg_pop_churn,age_0_4,age_5_9,age_10_14,age_15_19,age_20_24,age_25_29,age_30_34,...,toWork_bus,toWork_motorcycle,toWork_carVan,toWork_passenger_carVan,toWork_taxi,toWork_bicycle,toWork_walk,toWork_other,Class_2_status,Class_3_status
0,E01000001,-0.658537,0.741966,-1.372624,-1.614350,-1.582329,-1.755906,-0.901554,0.083712,0.272321,...,-0.835334,1.793259,-0.546198,-0.859595,-0.631409,0.805561,11.685667,1.749058,STB,STB
1,E01000002,-0.759582,0.950390,-1.079848,-1.188341,-1.453815,-1.500000,-1.423143,-0.489536,-0.287946,...,-0.974646,2.703046,-0.233249,-0.871737,-0.858955,1.137534,10.966777,2.137273,STB,STB
2,E01000003,-1.073171,0.375663,-1.171103,-1.892377,-1.578313,-0.161417,-0.411054,0.291174,0.209821,...,-0.275673,-0.105336,-0.482598,-0.834654,-0.852303,1.677591,9.131364,2.061122,STB,STB
3,E01000005,-2.331010,0.295788,-1.049430,0.107623,-0.297189,-0.350394,1.015544,0.598726,-0.216518,...,0.294310,-0.283444,-0.902586,-0.798896,-0.695636,0.940659,5.935153,-0.633620,DEC,DEC
4,E01000006,0.170732,0.179719,0.768061,0.587444,0.064257,-0.350394,0.227979,0.651501,0.448661,...,-0.549085,-0.179201,-0.991452,0.062273,-0.191442,-0.358449,0.177392,-0.514019,DEC,DEC

In [42]:
# transpose labels

df_modelling_std_01_labels["GEN_Class2"]="NON-GEN"
df_modelling_std_01_labels["GEN_Class3"]="NON-GEN"

In [43]:
for i in range(len(df_modelling_std_01_labels)):
    if df_modelling_std_01_labels.loc[i,"Class_2_status"] == "GEN":
        df_modelling_std_01_labels.loc[i,"GEN_Class2"] = "GEN"
    if df_modelling_std_01_labels.loc[i,"Class_3_status"] == "MargGen":
        df_modelling_std_01_labels.loc[i,"GEN_Class3"] = "MargGen"
    if df_modelling_std_01_labels.loc[i,"Class_3_status"] == "MainGen":
        df_modelling_std_01_labels.loc[i,"GEN_Class3"] = "MainGen"
    if df_modelling_std_01_labels.loc[i,"Class_3_status"] == "SupGen":
        df_modelling_std_01_labels.loc[i,"GEN_Class3"] = "SupGen"
    else:
        continue

In [44]:
df_modelling_std_01_labels.head()

,LSOA11CD,Pop_size,avg_pop_churn,age_0_4,age_5_9,age_10_14,age_15_19,age_20_24,age_25_29,age_30_34,...,toWork_carVan,toWork_passenger_carVan,toWork_taxi,toWork_bicycle,toWork_walk,toWork_other,Class_2_status,Class_3_status,GEN_Class2,GEN_Class3
0,E01000001,-0.658537,0.741966,-1.372624,-1.614350,-1.582329,-1.755906,-0.901554,0.083712,0.272321,...,-0.546198,-0.859595,-0.631409,0.805561,11.685667,1.749058,STB,STB,NON-GEN,NON-GEN
1,E01000002,-0.759582,0.950390,-1.079848,-1.188341,-1.453815,-1.500000,-1.423143,-0.489536,-0.287946,...,-0.233249,-0.871737,-0.858955,1.137534,10.966777,2.137273,STB,STB,NON-GEN,NON-GEN
2,E01000003,-1.073171,0.375663,-1.171103,-1.892377,-1.578313,-0.161417,-0.411054,0.291174,0.209821,...,-0.482598,-0.834654,-0.852303,1.677591,9.131364,2.061122,STB,STB,NON-GEN,NON-GEN
3,E01000005,-2.331010,0.295788,-1.049430,0.107623,-0.297189,-0.350394,1.015544,0.598726,-0.216518,...,-0.902586,-0.798896,-0.695636,0.940659,5.935153,-0.633620,DEC,DEC,NON-GEN,NON-GEN
4,E01000006,0.170732,0.179719,0.768061,0.587444,0.064257,-0.350394,0.227979,0.651501,0.448661,...,-0.991452,0.062273,-0.191442,-0.358449,0.177392,-0.514019,DEC,DEC,NON-GEN,NON-GEN

In [45]:
# checkpoint - output file
df_modelling_std_01_labels.to_csv("df_modelling_std_01_labels.csv")